.table-container {
    display: block;
    width: 100%;
    margin-top: var(--spacing-sm);
    ::ng-deep .certification-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--spacing-2xs) / 3);
        button {
            &.edit {
                color: var(--color-blue-500);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }
    .document-container {
        width: 150px;
        .link-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            color: var(--color-blue-400);

            .text-container {
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: var(--color-blue-400);
                }
            }
        }
    }
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-xs);
    text-align: center;
}
