.outer-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--spacing-sm);
    }
}
