.passenger-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 1rem 0;

    .row-container {
        width: 40%;
        flex-grow: 1;
        flex-shrink: 1;
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;
        gap: 0.75rem;
        align-items: end;

        .input-container {
            width: 100%;
            grid-column: auto;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            input {
                width: 100%;
            }
        }
    }
}

.desktop {
    display: block;
}

.mobile-passenger-info {
    display: none;
}

::ng-deep .p-inputmask {
    width: 100%;
}

@media (max-width: 1536px) {
    .passenger-info-container {
        .row-container {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .mobile-passenger-info {
        display: flex;
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #d2dade;
            color: #053654;
            border: none;
            font-size: 0.85rem;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 0.5rem;
            width: 100%;
            gap: 0.5rem;
        }
        .dialog-header {
            font-weight: 600;
            color: #053654;
            font-size: 1.25rem;
        }
    }
    .passenger-info-container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem 0;

        .row-container {
            display: flex;
            flex-direction: column;

            .input-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                input {
                    width: 100%;
                }
            }
        }
    }
}

::ng-deep .update-passenger-info-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    h2 {
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-xs);
    }
}
