.table-container {
    ::ng-deep .booking-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
        > .p-datatable .p-datatable-tbody > tr > td {
            border: 0;
        }
    }
    tr {
        font-size: var(--font-size-body-m);
    }
}

::ng-deep .p-element .p-datatable-tbody {
    .inactive-booking {
        opacity: 0.5;
    }
}

.link-manage {
    color: var(--color-blue-500);
    background-color: var(--color-blue-50);
    border-radius: var(--border-radius-base);
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-2xs) / 2);
    padding: var(--spacing-2xs);
}

@media (max-width: 1024px) {
    .link-manage {
        span {
            display: none;
        }
    }
}
