.main-content {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        .row-container {
            margin-top: var(--spacing-md);
            display: flex;
            gap: var(--gap-sm);
            .control-container {
                width: calc(50% - var(--gap-sm));
                .form-control-label {
                    display: block;
                }
            }
            .btn-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: var(--gap-xs);
                margin-bottom: var(--spacing-sm);
                align-items: flex-end;
                .btn-group {
                    display: flex;
                    align-self: flex-end;
                    margin-right: var(--gap-sm);
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .main-content {
        form {
            .row-container {
                flex-direction: column;
                .control-container {
                    width: 100%;
                }
            }
        }
    }
}
