.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-end !important;
    .note-textarea {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
            align-items: left !important;
        }
    }
    .btn-group {
        display: flex;
        align-self: flex-end;
        gap: var(--gap-xs);
    }
}
