.modal-inner-container {
    .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--spacing-sm);
        .btn-close {
            flex-shrink: 0;
            background: none;
            outline: none;
            border: none;
            width: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .scan-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        margin-top: var(--spacing-sm);
        .camera-container {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-base);
            overflow: hidden;
        }
    }
    .checkin-loading-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: var(--spacing-sm);
    }
    .checkin-error-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: var(--spacing-sm);
        .error-details-container {
            background-color: var(--color-gray-150);
            border-radius: var(--border-radius-base);
            padding: var(--spacing-sm);
            margin-top: var(--spacing-sm);
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
            justify-content: center;
            text-align: center;
            .h5 {
                color: var(--color-error);
            }
            i {
                font-size: 4rem;
                color: var(--color-error);
            }
        }
        .btn {
            border-bottom: 1px solid var(--color-blue-400) !important;
            border-radius: 0 !important;
            width: fit-content;
        }
    }
    .checkin-success-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        justify-content: center;
        align-items: center;
        text-align: center;
        .guest-details-container {
            background-color: var(--color-gray-150);
            border-radius: var(--border-radius-base);
            padding: var(--spacing-sm);
            margin-top: var(--spacing-sm);
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
            justify-content: center;
            text-align: center;
            .guest-container {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-2xs);
                justify-content: center;
                text-align: center;
            }
            .h5 {
                color: var(--color-success);
            }
            i {
                font-size: 4rem;
                color: var(--color-success);
            }
        }
        .btn {
            border-bottom: 1px solid var(--color-blue-400) !important;
            border-radius: 0 !important;
            width: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
    }
}

::ng-deep .form-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
