.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        .info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            width: 100%;

            .info-item {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));

                ::ng-deep .full-width {
                    width: 100%;
                }
            }
        }
        .radio-row {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: var(--gap-sm);

            .radio-item {
                display: flex;
                gap: var(--gap-xs);
            }
        }
        .date-container {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            width: 100%;
            .date-item {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));
            }
        }
        .frequency-container {
            display: flex;
            flex-direction: column;
            gap: var(--gap-sm);
            .days-container,
            .biweekly-container {
                display: flex;
                flex-direction: column;
                gap: var(--gap-xs);
                .checkbox-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: var(--gap-sm);
                }
            }
        }
        .time-container {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            width: 100%;
            .time-item,
            .date-item {
                display: flex;
                flex-direction: column;
                width: calc(40% - var(--gap-sm));
            }

            .btn-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: calc(20% - var(--gap-sm));

                button {
                    width: 100%;
                    max-height: 48px;
                }
            }
        }
    }
    .table-container {
        margin: var(--spacing-md) 0;
    }
    .save-allocated-action {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--gap-sm);
        button {
            width: 100%;
        }
    }
}

::ng-deep .allocate-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
