.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    box-shadow: var(--shadow-base-1);
    .nav-container {
        display: flex;
        flex-direction: row;
        background-color: var(--color-gray-100);
        flex-wrap: wrap;
        overflow-x: auto;
        a {
            color: var(--color-gray-600);
            font-size: var(--font-size-body);
            border-top-width: 5px;
            border-top-style: solid;
            border-top-color: transparent;
            padding: var(--spacing-xs) var(--spacing-md);
            transition: all 400ms;
            flex-shrink: 0;
            &.active {
                color: var(--color-blue-500);
                border-top-color: var(--color-blue-500);
                background-color: var(--color-blue-gray);
            }
            ::ng-deep .p-badge {
                background-color: var(--color-blue-500);
                margin-left: var(--spacing-2xs);
            }
        }
    }
}
