.outer-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--spacing-sm);
        .content-header-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            .search-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                max-width: 250px;
                width: 100%;
                input {
                    width: 100%;
                }
            }
            .additional-controls-container {
                width: 100%;
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: var(--spacing-xs);
                .show-inactive {
                    align-items: center;
                    justify-content: flex-start;
                    display: flex;
                    flex-direction: row;
                    gap: var(--gap-xs);
                    width: 100%;
                }
                button {
                    flex-shrink: 0;
                }
            }
        }
        .tour-table-container {
            ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
                padding: 0.6rem 1rem !important;
                &.ellipsis-col {
                    padding: 0 !important;
                    width: 40px;
                }
                span {
                    i {
                        font-size: 0.8rem;
                        margin-left: calc(var(--spacing-2xs) / 2);
                    }
                }
            }
            ::ng-deep .p-datatable-table > .p-datatable-thead {
                background: none !important;
                tr > th {
                    &.ellipsis-col {
                        padding: 0 !important;
                        width: 40px;
                    }
                }
            }
        }

        .tour-table-container {
            tr {
                td {
                    &.tour-description {
                        max-width: 250px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .actions-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: calc(var(--spacing-2xs) / 3);
                        button {
                            background-color: var(--color-gray-100) !important;
                            border: none;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            &.edit {
                                color: var(--color-blue-500);
                            }
                            &.delete {
                                color: var(--color-error);
                            }
                        }
                    }
                }
            }
            ::ng-deep .p-datatable {
                border: 1px solid var(--color-gray-200);
                border-radius: var(--border-radius-base);
                padding: 1px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .outer-container {
        .content-container {
            .content-header-container {
                flex-direction: column;
                align-items: stretch;
                .search-container {
                    max-width: none;
                }
            }
        }
    }
}
