.content-container {
    display: block;
    width: 100%;
    margin-top: var(--spacing-sm);

    .header-action-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);
        .search-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-shrink: 1;
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
            }
            button {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
        button {
            flex-shrink: 0;
            &.add {
                display: flex;
                &.mobile {
                    display: none;
                }
            }
        }
    }

    ::ng-deep .forms-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        margin-top: var(--spacing-sm);
    }
    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--spacing-2xs) / 3);
        button {
            &.edit {
                color: var(--color-blue-500);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-xs);
    text-align: center;
}
