.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);
        .row-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            form {
                width: 100%;
                padding: var(--spacing-sm) 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--spacing-3xs);
                .form-item {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-3xs);
                    width: calc(50% - var(--spacing-3xs));
                    min-width: calc(50% - var(--spacing-3xs));
                    flex-grow: 1;
                    ::ng-deep p-inputnumber {
                        height: 100%;
                        .p-inputnumber {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.edit-unallocated-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-sm);
    button {
        width: 100%;
    }
}

::ng-deep .edit-selected-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
