.container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-sm);
    }
    .main-content-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--spacing-sm);
        .roles-container {
            width: 25%;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            .nav-options {
                padding: var(--spacing-xs);
                text-decoration: none;
                border-radius: var(--border-radius-base);
                font-size: var(--font-size-body);
                font-weight: var(--font-weight-semibold);

                &:hover {
                    color: var(--color-blue-500);
                    background-color: var(--color-blue-100);
                }

                &.active {
                    color: var(--color-blue-500);
                    background-color: var(--color-blue-100);
                }
            }
        }
        .route-container {
            width: calc(75% - var(--spacing-sm));
            flex-grow: 1;
            flex-shrink: 1;
            .role-header-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: var(--spacing-sm);
                .rolename-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    .status-chip {
                        padding: 0 var(--spacing-xs);
                        height: 30px;
                        width: fit-content;
                        border-radius: 15px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid var(--color-blue-500);
                        color: var(--color-blue-500);
                        &.active {
                            // background-color: var(--color-blue-100);
                            // color: var(--color-blue-500);
                            // border-color: var(--color-blue-500);

                            background-color: var(--color-bg-success);
                            color: var(--color-success);
                            border-color: var(--color-success);
                        }
                        &.inactive {
                            background-color: var(--color-gray-200);
                            color: var(--color-black);
                            border-color: var(--color-black);
                        }
                    }
                }
                .buttons-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                }
            }
            h2,
            h3,
            h4,
            h5 {
                margin: 0;
            }
            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
            }
            .header-inner-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-sm);
            }
            .row-action-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-xs);
            }

            .action-buttons-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-xs);
            }
        }
    }
}

::ng-deep .features-accordion {
    margin-top: var(--spacing-sm);
    .p-accordion-tab {
        border-bottom: 1px solid var(--color-gray-200);
    }
    .p-accordion-header .p-accordion-header-link {
        background-color: transparent !important;
        padding: var(--spacing-xs) 0;
        border: none;
        box-shadow: none !important;
    }
    .p-accordion-content {
        border: none;
        background-color: transparent !important;
    }
    .category-container {
        width: 100%;
        .category-header-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    .page-container {
        display: flex;
        flex-direction: column;
        padding-left: var(--spacing-md);
        margin-bottom: var(--spacing-xs);
        gap: var(--spacing-sm);
        .page-header-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .feature-container {
            padding-left: var(--spacing-md);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
