.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        .reminder-info {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            .reminder-text {
                width: calc(70% - var(--gap-sm));
                display: flex;
                flex-direction: column;
                gap: var(--gap-xs);
            }
            .reminder-img {
                width: 220px;
                height: 220px;
                background: var(--color-gray-100);
                border-radius: var(--border-radius-base);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--border-radius-base);
                }
            }
        }
        .reminder-options {
            display: flex;
            flex-direction: column;
            gap: var(--gap-xs);
            .option-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--gap-xs);
            }
        }
        .date-container {
            display: flex;
            flex-direction: column;
        }
        .btn-container {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            margin-top: var(--gap-md);
            .btn {
                flex-grow: 1;
                width: calc(50% - var(--gap-sm));
            }
        }
    }
}

::ng-deep .reminder-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
