.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: flex-start;
    padding-top: var(--spacing-md);
    img {
        height: 60px;
        width: auto;
        object-fit: contain;
    }
    h2,
    p {
        margin: 0;
    }
    .buttons-container {
        margin-top: var(--spacing-xs);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        gap: var(--spacing-xs);
        button {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &.btn-single {
                flex-grow: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .buttons-container {
            button {
                width: 40%;
            }
        }
    }
}

::ng-deep .error-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
