.notes-container {
    display: flex;
    flex-direction: column;

    .notes-form {
        width: 100%;
        max-width: 640px;
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: column;
        margin-bottom: var(--spacing-sm);

        .notes-textarea {
            width: 100%;
        }

        .btn-group {
            display: flex;
            align-self: flex-end;
            gap: var(--gap-xs);
        }
    }
}
