.main-content {
    display: flex;
    flex-direction: column;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-md);
    }
}
