.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    box-shadow: var(--shadow-base-1);
}

.needing-allocation-container {
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep .p-accordion-content {
        border: none;
        padding: 0;
    }
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-sm);
        button {
            &.btn-filter {
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                flex-grow: 0;
            }
        }
    }
}
.allocation-list-container {
    display: none;
}
.allocation-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media screen and (max-width: 720px) {
    .allocation-table-container {
        display: none;
    }

    .allocation-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
