# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# IMPORTANT! All APK and staging related flows are disabled as they're not currently used

trigger:
    - main

pool:
    vmImage: ubuntu-latest

variables:
    NODE_OPTIONS: '--max-old-space-size=4096'

steps:
    - task: NodeTool@0
      inputs:
          versionSpec: '20.x'
      displayName: 'Install Node.js'

    # - task: JavaToolInstaller@0
    #   inputs:
    #       versionSpec: '17'
    #       jdkArchitectureOption: 'x64'
    #       jdkSourceOption: 'PreInstalled'

    - script: |
          npm install --include=optional
      displayName: 'npm install'

    - script: |
          cp src/manifest.webmanifest.dev src/manifest.webmanifest && npm run build -- -c development
      displayName: 'ng build development'

    - task: CopyFiles@2
      inputs:
          SourceFolder: 'dist'
          Contents: '**'
          TargetFolder: '$(build.ArtifactStagingDirectory)/angular-development'

    - task: ArchiveFiles@2
      displayName: 'Archive files: Angular Development'
      inputs:
          rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/angular-development'
          includeRootFolder: false
          archiveType: zip
          archiveFile: $(Build.ArtifactStagingDirectory)/angular-development/$(Build.BuildId).zip
          replaceExistingArchive: true

      # Secrets
    # - script: |
    #       echo 'keyAlias=$(ANDROID_KEYSTORE_ALIAS)' >> android/key.properties
    #       echo 'keyPassword=$(ANDROID_KEYSTORE_ALIAS_PASS)' >> android/key.properties
    #       echo 'storePassword=$(ANDROID_KEYSTORE_PASS)' >> android/key.properties
    #       echo 'storeFile=../keystore' >> android/key.properties
    #   displayName: 'setup Android keys'

    # - script: |
    #       npx cap copy android && npx cap update android && ./android/gradlew -p android assembleRelease
    #   displayName: 'npx build development'

    # - task: CopyFiles@2
    #   inputs:
    #       SourceFolder: 'android/app/build/outputs/apk/release'
    #       Contents: '**'
    #       TargetFolder: '$(build.ArtifactStagingDirectory)/development'

    # - script: |
    #       cp src/manifest.webmanifest.dev src/manifest.webmanifest && npm run build -- -c stage
    #   displayName: 'ng build stage'

    # - task: CopyFiles@2
    #   inputs:
    #       SourceFolder: 'dist'
    #       Contents: '**'
    #       TargetFolder: '$(build.ArtifactStagingDirectory)/angular-stage'

    # - task: ArchiveFiles@2
    #   displayName: 'Archive files: Angular Stage'
    #   inputs:
    #       rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/angular-stage'
    #       includeRootFolder: false
    #       archiveType: zip
    #       archiveFile: $(Build.ArtifactStagingDirectory)/angular-stage/$(Build.BuildId).zip
    #       replaceExistingArchive: true

    # - script: |
    #       npx cap copy android && npx cap update android && ./android/gradlew -p android assembleRelease
    #   displayName: 'npx build stage'

    # - task: CopyFiles@2
    #   inputs:
    #       SourceFolder: 'android/app/build/outputs/apk/release'
    #       Contents: '**'
    #       TargetFolder: '$(build.ArtifactStagingDirectory)/stage'

    - script: |
          cp src/manifest.webmanifest.prod src/manifest.webmanifest && npm run build -- -c production
      displayName: 'ng build production'

    - task: CopyFiles@2
      inputs:
          SourceFolder: 'dist'
          Contents: '**'
          TargetFolder: '$(build.ArtifactStagingDirectory)/angular-production'

    - task: ArchiveFiles@2
      displayName: 'Archive files: Angular Production'
      inputs:
          rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/angular-production'
          includeRootFolder: false
          archiveType: zip
          archiveFile: $(Build.ArtifactStagingDirectory)/angular-production/$(Build.BuildId).zip
          replaceExistingArchive: true

    # - script: |
    #       npx cap copy android && npx cap update android && ./android/gradlew -p android assembleRelease
    #   displayName: 'npx build production'

    # - task: CopyFiles@2
    #   inputs:
    #       SourceFolder: 'android/app/build/outputs/apk/release'
    #       Contents: '**'
    #       TargetFolder: '$(build.ArtifactStagingDirectory)/production'

    # - task: ArchiveFiles@2
    #   displayName: 'Archive files: Development'
    #   inputs:
    #       rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/development'
    #       includeRootFolder: false
    #       archiveType: zip
    #       archiveFile: $(Build.ArtifactStagingDirectory)/development/$(Build.BuildId).zip
    #       replaceExistingArchive: true

    # - task: ArchiveFiles@2
    #   displayName: 'Archive files: Stage'
    #   inputs:
    #       rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/stage'
    #       includeRootFolder: false
    #       archiveType: zip
    #       archiveFile: $(Build.ArtifactStagingDirectory)/stage/$(Build.BuildId).zip
    #       replaceExistingArchive: true

    # - task: ArchiveFiles@2
    #   displayName: 'Archive files: Production'
    #   inputs:
    #       rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/production'
    #       includeRootFolder: false
    #       archiveType: zip
    #       archiveFile: $(Build.ArtifactStagingDirectory)/production/$(Build.BuildId).zip
    #       replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
    - task: DownloadBuildArtifacts@1
      inputs:
          buildType: 'current'
          downloadType: 'specific'
          downloadPath: '$(System.ArtifactsDirectory)'
