.calendar-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    position: relative;

    .controls-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);

        .navigation-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .view-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                border-radius: 0 !important;
                box-shadow: none !important;

                &:not(:first-child):not(:last-child) {
                    border-left: none !important;
                    border-right: none !important;
                }

                &.active {
                    background-color: var(--color-blue-500) !important;
                    color: var(--color-white) !important;
                }

                &:first-child {
                    border-radius: 6px 0 0 6px !important;
                }

                &:last-child {
                    border-radius: 0 6px 6px 0 !important;
                }
            }
        }
    }
}

::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: var(--color-blue-500);
}

// day event block
::ng-deep .dayview {
    .cal-event-container {
        &:first-child {
            padding-left: 70px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        gap: 0 !important;
    }

    .calendar-container {
        .controls-container {
            margin-bottom: var(--spacing-2xs);
            flex-wrap: wrap;

            .calendar-title-container {
                width: 100%;
            }

            .navigation-controls-container,
            .view-controls-container {
                order: 1;

                ::ng-deep .p-button {
                    padding: var(--spacing-2xs) var(--spacing-3xs);
                }
            }
        }
    }
}

::ng-deep {
    .cal-month-view .cal-cell {
        overflow: hidden;
    }
}
