.grid-container {
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    &.hide {
        opacity: 0;
    }
    .assignment-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        border-radius: var(--border-radius-base);
        border: 1px solid var(--color-gray-400);
        color: var(--color-black);
        padding: var(--spacing-sm);
        background: #f8f8f8;
        .chips-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
        }
        .title-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: var(--spacing-2xs);
            button {
                flex-shrink: 0;
                position: relative;
                overflow: visible;
                .indicator {
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    border: 1px solid var(--color-white);
                    background-color: var(--color-blue-200);
                    box-shadow: var(--shadow-base-1);
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    z-index: 5;
                }
            }
        }
        .capacity-chip {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: calc(var(--spacing-2xs) / 2) var(--spacing-xs);
            border-radius: 999px;
            background: var(--color-gray-150);
            span {
                color: var(--color-gray-700);
                font-size: var(--font-size-body-m);
                font-weight: var(--font-weight-medium);
                text-wrap: nowrap;
            }
            // @media screen and (max-width: 768px) {
            //     display: none;
            // }
        }
        .status-chip {
            display: flex;
            flex-shrink: 0;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: calc(var(--spacing-2xs) / 2) var(--spacing-xs);
            border-radius: 999px;
            gap: var(--spacing-2xs);
        }
        &.open-assignment {
            background: #d8e7db;
            .status-chip {
                background-color: #ffffff90;
                span {
                    color: #1c8d4f;
                    font-size: var(--font-size-body-m);
                    font-weight: var(--font-weight-medium);
                }
            }
            .info-cards-container {
                .info-card {
                    background-color: #ffffff70;
                }
            }
            .actions-container,
            .primary-actions {
                button {
                    background-color: var(--color-gray-100) !important;
                }
            }
        }

        &.closed-assignment {
            background: #f1dbd4;
            .status-chip {
                background-color: #ffffff90;
                span {
                    color: #c64d4d;
                    font-size: var(--font-size-body-m);
                    font-weight: var(--font-weight-medium);
                }
            }
            .info-cards-container {
                .info-card {
                    background-color: #ffffff70;
                }
            }
            .actions-container,
            .primary-actions {
                button {
                    background-color: var(--color-gray-100) !important;
                }
            }
        }

        &.cancelled-assignment {
            background: #f1dbd4;
            background-size: 10px 10px !important;
            background-image: repeating-linear-gradient(
                45deg,
                #e4af9f 0,
                #e4af9f 1px,
                #f1dbd4 0,
                #f1dbd4 50%
            ) !important;
            .status-chip {
                background-color: #ffffff90;
                span {
                    color: #c64d4d;
                    font-size: var(--font-size-body-m);
                    font-weight: var(--font-weight-medium);
                }
            }
            .info-cards-container {
                .info-card {
                    background-color: #ffffff70;
                }
            }
            .actions-container,
            .primary-actions {
                button {
                    background-color: var(--color-gray-100) !important;
                }
            }
        }

        &.confirmed-assignment {
            background: #d4d4d4;
            .status-chip {
                background-color: #ffffff90;
                span {
                    color: var(--color-gray-700);
                    font-size: var(--font-size-body-m);
                    font-weight: var(--font-weight-medium);
                }
            }
            .info-cards-container {
                .info-card {
                    background-color: #ffffff70;
                }
            }
            .actions-container,
            .primary-actions {
                button {
                    background-color: var(--color-gray-100) !important;
                }
            }
        }

        .assignment-info-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: calc(var(--spacing-2xs) / 2);

            .important-info-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: var(--spacing-2xs);
                .time {
                    white-space: nowrap;
                }
                .tourname {
                    display: block;
                }
                .tourshortname {
                    display: none;
                }
                .v-divider {
                    height: 100%;
                    width: 1px;
                    background-color: #00000030;
                }
            }
        }
        .actions-container,
        .primary-actions {
            &.mobile {
                display: none;
            }
            flex-shrink: 0;
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-2xs) / 2);
            button {
                background-color: #f2f2f2 !important;
                color: var(--color-gray-800) !important;
                width: 40px;
                height: 40px;
                border-radius: var(--border-radius-base);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                position: relative;
                overflow: visible;
                .indicator {
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    border: 1px solid var(--color-white);
                    background-color: var(--color-blue-200);
                    box-shadow: var(--shadow-base-1);
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    z-index: 5;
                }
            }
        }
        .info-cards-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--spacing-2xs);
            .btn-edit {
                background: transparent;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 3px; // to line it up with the text beside it
                border: none;
                outline: none;
                box-shadow: none;
                width: 25px;
                height: 25px;
                &:hover,
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
                i {
                    color: var(--color-gray-800);
                }
            }
            .logistic-cards-container,
            .count-cards-container {
                width: calc(50% - (var(--spacing-2xs) / 2));
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                gap: var(--spacing-2xs);
            }
            .info-card {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-2xs);
                justify-content: space-between;
                background-color: #efefef;
                padding: var(--spacing-xs);
                border-radius: var(--border-radius-base);
                &.bookings-container {
                    padding: 0;
                    width: 100%;
                }
                &.allocation {
                    flex-grow: 1;
                    .allocation-info {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.transportation {
                    flex-grow: 1;
                    .transportation-info {
                        display: flex;
                        flex-direction: column;
                    }
                }
                &.count {
                    width: calc(100% / 4);
                    flex-shrink: 1;
                    flex-grow: 1;
                    .info-value {
                        font-size: var(--font-size-body-xl);
                        font-weight: var(--font-weight-medium);
                    }
                }
                .title-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: var(--spacing-2xs);
                    .capacity-chip {
                        display: none;
                    }
                    @media screen and (max-width: 768px) {
                        .capacity-chip {
                            display: flex;
                            border-radius: var(--border-radius-base);
                            background-color: var(--color-gray-100);
                            span {
                                color: var(--color-gray-700);
                            }
                        }
                    }
                    .info-title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: var(--spacing-2xs);
                        span {
                            font-size: var(--font-size-body);
                            font-weight: var(--font-weight-medium);
                        }
                    }
                }
                .info-value {
                    font-size: var(--font-size-body-l);
                    font-weight: var(--font-weight-medium);
                }
                .info-subtext {
                    font-size: var(--font-size-body);
                    font-weight: var(--font-weight-normal);
                    color: var(--color-gray-700);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        .assignment-container {
            .mobile-additional-info-container {
                display: flex;
            }
            .assignment-info-container {
                .important-info-container {
                    .tourname {
                        display: none;
                    }
                    .tourshortname {
                        display: block;
                    }
                }
            }
            .info-cards-container {
                .logistic-cards-container,
                .count-cards-container {
                    width: 100%;
                }
            }
            .actions-container,
            .primary-actions {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    display: flex;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        .assignment-container {
            padding: var(--spacing-2xs) var(--spacing-2xs) 0 var(--spacing-2xs);
            .assignment-info-container {
                .important-info-container {
                    .time,
                    .tourshortname {
                        font-size: var(--font-size-body);
                    }
                }
            }
            .info-cards-container {
                gap: calc(var(--spacing-2xs) / 2);
                .info-card {
                    padding: var(--spacing-2xs);
                    gap: calc(var(--spacing-2xs) / 2);
                    .info-title {
                        span {
                            font-size: var(--font-size-body-m);
                        }
                    }
                    .info-value {
                        font-size: var(--font-size-body);
                    }
                    .info-subtext {
                        font-size: var(--font-size-body-m);
                    }
                    &.count {
                        .info-value {
                            font-size: var(--font-size-body-l);
                        }
                    }
                }
                .logistic-cards-container {
                    flex-direction: column;
                    gap: calc(var(--spacing-2xs) / 2);
                    .transportation,
                    .allocation {
                        width: 100%;
                    }
                }
                .count-cards-container {
                    gap: calc(var(--spacing-2xs) / 2);
                }
            }
        }
    }
}

.actual {
    font-size: var(--font-size-heading-2xl) !important;
    font-weight: var(--font-weight-medium) !important;
}

::ng-deep .dtd-gridview-count-input {
    width: 70px;
    max-width: 100% !important;
}

::ng-deep .dtd-grid-menu-option {
    .menu-option-inner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        padding: calc(var(--spacing-2xs) / 2) var(--spacing-sm);
        cursor: pointer;
        span {
            position: relative;
            .indicator {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: var(--color-blue-200);
                position: absolute;
                right: -10px;
                top: 2px;
                z-index: 5;
            }
        }
    }
}
