.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    h2 {
        margin-bottom: 0;
    }

    .table-container {
        overflow: hidden;
        tr {
            th {
                background: var(--color-white) !important;
                font-size: var(--font-size-body-m);
                text-transform: uppercase;
                font-weight: var(--font-weight-medium);
                font-size: var(--font-size-body-m);
            }
            td {
                background: var(--color-white) !important;
                border-bottom: 2px solid #f1f1f1 !important;
                white-space: nowrap;
            }
        }
    }
    .empty-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-xs);
        padding: var(--spacing-sm);
        border-radius: var(--border-radius-base);
        margin-top: var(--spacing-xs);
        background-color: var(--color-white);
        .icon-container {
            display: flex;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            align-items: center;
            justify-content: center;
            background-color: var(--color-gray-150);
        }
        span {
            color: var(--color-gray-600);
        }
    }
    .action-container {
        margin-top: var(--spacing-sm);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }
}

.edit-booking-accordion-container {
    padding: 0 !important;
    border: none !important;
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep .p-accordion-content {
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
    }
}

.confirm-guests-booking-list {
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        // padding: 0.6rem 1rem !important;
        &.w-sm {
            width: 30px;
        }
        &.w-md {
            width: 60px;
        }
        &.w-lg {
            width: 130px;
        }
        .p-inputtext {
            width: 60px;
            &.p-inputtextarea {
                width: 100%;
            }
        }
        .actions-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            .btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                color: var(--color-gray-600);
                outline: none;
                box-shadow: none;
                width: 30px;
                height: 30px;
                border: none;
            }
        }
    }
    ::ng-deep .p-datatable-table > .p-datatable-thead {
        background: none !important;
        th {
            &.w-sm {
                width: 30px;
            }
            &.w-md {
                width: 60px;
            }
        }
    }
}

// ::ng-deep .booking-table-container > .p-datatable table {
//     table-layout: auto;
// }
