.modal-inner-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    .file-input {
        display: none;
    }
    .booking-info-container {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-color: var(--color-white);
        padding: var(--spacing-sm);
        max-width: var(--viewport-md);
        border-radius: var(--border-radius-base);
        margin: var(--spacing-xs) var(--spacing-xs) 0 var(--spacing-xs);
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-sm);
        z-index: 5;
        .content-container {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            justify-content: flex-start;
            gap: var(--spacing-sm);
            .infos-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: var(--spacing-2xs);

                .info-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    background-color: var(--color-gray-150);
                    padding: var(--spacing-2xs) var(--spacing-sm);
                    border-radius: var(--border-radius-base);
                }
            }
        }
        .btn {
            flex-shrink: 0;
            flex-grow: 0;
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            height: 30px;
            width: 30px;
            display: flex;
            flex-direction: row;
            padding: 0;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
    .camera-container {
        grid-row: 1/3;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
::ng-deep .ticket-camera-dialog {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: none;
    border-radius: 0;
    .p-dialog-content {
        padding: 0;
        background: #00000095;
    }
}
