.table-container {
    ::ng-deep .available-inventory-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);

        .action-item {
            width: calc(50% - var(--gap-xs));
        }
    }

    ::ng-deep
        .available-inventory-table
        > .p-datatable
        .p-datatable-tbody
        > tr
        > td {
        border: 0;
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--spacing-2xs) / 3);
        button {
            background-color: var(--color-gray-100) !important;
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &.edit {
                color: var(--color-blue-500);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }
}

::ng-deep .percentsold-progressbar {
    height: 10px;
    width: 50px;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-xs);
    text-align: center;
}
