.outer-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    .inner-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        position: relative;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: var(--spacing-2xs);
            background-color: var(--color-white);
            padding-bottom: var(--spacing-xs);
            padding-top: var(--spacing-sm);

            .button-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: var(--spacing-2xs);
            }
        }
        .table-container {
            display: block;
            width: 100%;
            margin-top: var(--spacing-sm);
            overflow: auto; // Add this line to enable scrolling within the table container
            max-height: 65vh; // Set a maximum height for the scrollable area

            ::ng-deep .statement-list-table {
                border: 1px solid var(--color-gray-200);
                border-radius: var(--border-radius-base);
                padding: 1px;
                border-top: 0;
                border-bottom: 0;

                .p-datatable-wrapper {
                    max-height: 55vh; // Adjust the maximum height as needed
                    overflow: auto;
                }
            }
        }

        .summary-container {
            display: flex;
            width: 100%;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                width: calc(20% - var(--spacing-2xs));
                background-color: var(--color-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            margin-top: var(--spacing-sm);
            .option-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-xs);
            }
            .action-container {
                margin-top: var(--spacing-sm);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: var(--spacing-xs);
            }
        }
    }
}

.highlight-red {
    color: red;
}

.cancelled-row {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .inner-container {
        .card {
            flex-direction: column-reverse;
            align-items: baseline;

            .icon-col {
                align-self: center;

                img {
                    margin-top: calc(-1 * var(--spacing-2xl));
                }
            }
        }
    }
}
