.container {
    position: relative;
}
::ng-deep .section-divider {
    margin: 0 !important;
}
.assignments-container {
    position: relative;
}
.data-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-2xs);
    padding-bottom: var(--spacing-xs);
    span {
        color: var(--color-gray-600);
    }
    .view-controls-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            border-radius: 0 !important;
            box-shadow: none !important;
            padding: var(--spacing-xs);

            &:not(:first-child):not(:last-child) {
                border-left: none !important;
                border-right: none !important;
            }

            &.active {
                background-color: var(--color-blue-500) !important;
                color: var(--color-white) !important;
            }

            &:first-child {
                border-radius: 6px 0 0 6px !important;
            }

            &:last-child {
                border-radius: 0 6px 6px 0 !important;
            }
        }
    }
}
.btn-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    // border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
        font-size: 1.2rem;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        i {
            scale: 1.1;
        }
    }
}
.dtd-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dtd-list-container {
    display: none;
}

@media screen and (max-width: 720px) {
    .dtd-table-container {
        display: none;
    }

    .dtd-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
