.quick-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding-bottom: 0.5rem;
    .cancel-toggle-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
            background: var(--color-blue-500);
        }
    }
    .quick-actions-right {
        display: flex;
        gap: 0.75rem;
    }
}
