.details-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: flex-start;
    button {
        width: fit-content;
    }
}

::ng-deep p-divider .divider {
    margin: 0 !important;
}

.button-container {
    display: flex;
    gap: var(--gap-sm);
    justify-content: flex-end;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-xs);
    text-align: center;
}
