.booking-info-banner {
    padding: var(--spacing-2xs) var(--spacing-xs);
    border-radius: var(--border-radius-base);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2xs);
    background-color: var(--color-blue-100);
    color: var(--color-blue-400);
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    // 2 column
    .field-row-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-xs));
        .field-container {
            width: calc(50% - (var(--spacing-xs)));
            flex-grow: 1;
        }
    }
    // 3 column
    .participant-fields-container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-2xs));
        .row-container {
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-xs));
            .field-container {
                width: calc(25% - (var(--spacing-xs)));
                flex-grow: 1;
            }
        }
        .participant-notice-container {
            width: fit-content;
            padding: var(--spacing-2xs) var(--spacing-xs);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            border-radius: var(--border-radius-base);
            &.warning {
                background-color: var(--color-bg-warn);
                color: var(--color-warn);
            }
            &.error {
                background-color: var(--color-bg-error);
                color: var(--color-error);
            }
        }
    }
    .field-container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-2xs) / 2);
        width: 100%;
        label {
            font-size: var(--font-size-body-m);
        }
        &.checkbox-container {
            flex-direction: row;
        }
    }
    .actions-container {
        margin-top: var(--spacing-sm);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }
    .timeslot-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
    }
}

@media screen and (max-width: 768px) {
    form {
        .field-row-container {
            display: flex;
            flex-direction: column;
            .field-container {
                width: 100%;
            }
        }
    }
}
