.advanced-search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;

    .dates-container {
        .input-container {
            ::ng-deep .p-calendar {
                width: 100%;
                max-width: none;
                border-radius: var(--border-radius-base);
                border: 1px solid var(--color-gray-300);
                background-color: #fff;
                &:hover {
                    border-color: var(--color-blue-500); // default from primeng
                }
            }

            ::ng-deep .p-calendar-w-btn .p-inputtext {
                background-color: var(--color-white);
                border: none;
                padding: var(--spacing-3xs) var(--spacing-xs);
                padding-right: 0;
            }
            ::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
                color: var(--color-blue-500);
                background-color: var(--color-white);
                border-color: #ced4da;
                border: none;
                border-radius: var(--border-radius-base) !important;
                width: var(--spacing-l);
                &:hover {
                    background-color: var(--color-white);
                }
            }
            ::ng-deep .calendar-icon .p-button-icon {
                color: var(--color-blue-500);
            }

            ::ng-deep .p-calendar > input {
                border-radius: var(--border-radius-base) !important;
            }
        }
    }

    .row-container {
        width: 40%;
        flex-grow: 1;
        flex-shrink: 1;
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 1;
        gap: 0.75rem;
        align-items: end;

        .dates-container {
            width: 100%;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 0.25rem;
            .input-container {
                flex-grow: 1;
                flex-shrink: 1;
                input {
                    width: 100%;
                }
            }
            svg {
                margin-bottom: 10px;
            }
        }

        .input-container {
            width: 100%;
            grid-column: auto;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            input {
                width: 100%;
            }
        }
    }

    .search-button {
        grid-column: auto;
        grid-row: 1 / 2;
        justify-content: center;
    }
}

.desktop {
    display: block;
}

.mobile-advanced-search {
    display: none;
}

@media (max-width: 1536px) {
    .advanced-search-container {
        .row-container {
            width: 100%;
            grid-template-columns: 1.5fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile-advanced-search {
        display: flex;
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: var(--color-blue-50);
            color: var(--color-blue-500);
            border: none;
            font-size: 0.85rem;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 0.5rem;
            width: 100%;
            gap: 0.5rem;
        }
        .dialog-header {
            font-weight: 600;
            color: var(--color-blue-500);
            font-size: 1.25rem;
        }
        .advanced-search-container {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1rem 0;

            .row-container {
                display: flex;
                flex-direction: column;

                .input-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
