.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    ::ng-deep
        .p-tabview
        .p-tabview-nav-container
        .p-tabview-nav-content
        .p-tabview-nav {
        border: unset;
        li {
            &.p-highlight {
                .p-tabview-nav-link {
                    border-bottom: 4px solid var(--color-blue-500);
                    background-color: var(--color-blue-gray);
                }
            }
            .p-tabview-nav-link {
                border-bottom: 3px solid #e5e7eb;
                padding-top: 12px !important;
                padding-bottom: 10px !important;
                padding: 15px;
                .p-tabview-title {
                    font-size: 14px;
                }
            }
        }
    }
    ::ng-deep .p-tabview .p-tabview-panels {
        padding-left: unset !important;
        padding-right: unset !important;
    }

    form {
        .row-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--spacing-2xs);
            width: 100%;
            .col-container {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: left;
                width: calc(50% - var(--spacing-2xs));
                &.full-width {
                    width: 100%;
                }
            }
        }
        .checkbox-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: var(--spacing-md);
            margin-top: var(--spacing-md);
            margin-bottom: var(--spacing-md);
            .col-container {
                display: flex;
                justify-content: flex-start;
                label {
                    margin-left: 10px;
                }
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
}
::ng-deep .edit-position-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .row-container {
                flex-direction: column;
                .col-container {
                    width: 100%;
                }
            }
        }
    }
}
