.footer-container {
    padding: 1rem 1.75rem;
    background-color: #efeff0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .booking-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

        .info-container {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
            align-items: center;

            span {
                font-size: 0.85rem;
                color: #000;
                &.field-name {
                    font-weight: 700;
                }
            }
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        button {
            width: 45%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}
