.main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    flex-grow: 1;
    margin-top: var(--spacing-sm);
    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        .section-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xs);
            flex-wrap: wrap;

            .img-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                img {
                    border-radius: var(--border-radius-base);
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    object-fit: cover;
                }
                .file-upload-container {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);
                    .status-text {
                        color: var(--color-gray-500);
                    }
                }
            }

            h4 {
                width: 100%;
                margin: 0;
            }
            .textfield-container-half {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: calc(50% - var(--spacing-2xs));
                gap: var(--spacing-2xs);

                div {
                    input {
                        width: 100%;
                    }
                }
            }
            .textfield-container-full {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: 100%;
                gap: var(--spacing-2xs);
            }
            .textfield-container-third {
                display: flex;
                flex-direction: column;
                width: calc(33% - var(--spacing-2xs));
                gap: var(--spacing-2xs);
            }
            .textfield-container-fourth {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: calc(24.9% - var(--spacing-2xs));
                gap: var(--spacing-2xs);
            }
        }
        .isemployee-checkbox-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            label {
                font-weight: var(--font-weight-normal);
                font-size: var(--font-size-body);
            }
        }
        .button-container {
            button {
                padding: var(--spacing-xs) var(--spacing-base);
            }
        }
    }
}

@media (max-width: 1024px) {
    .main-content {
        width: 100%;
        form {
            .section-container {
                .img-container {
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacing-xs);
                }
                .textfield-container {
                    width: 100%;
                }
                .textfield-container-fourth {
                    width: calc(50% - var(--spacing-2xs));
                }

                .textfield-container-third {
                    width: 100%;
                    flex-grow: 1;
                }
            }
        }
    }
}

label {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0;
}
