$color-org-chart-alert: #c64d4d;
$color-org-chart-fulfilled: #1c8d4f;

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
}
.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: var(--spacing-sm);
    .error-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-sm);
        margin-top: var(--spacing-2xl);
        padding: var(--spacing-md) var(--spacing-sm);
        i {
            color: var(--color-gray-600);
            font-size: var(--font-size-heading-2xl);
        }
        span {
            color: var(--color-gray-600);
        }
    }
    .organization-chart-container {
        position: relative;
        width: 100%;
        display: flex;
        overflow-x: auto;
        .org-card-container {
            display: flex;
            flex-direction: column;
            width: 180px;
            gap: var(--spacing-2xs);
            .alert {
                color: $color-org-chart-alert;
            }
            .stats-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-2xs);
                .stat-container {
                    width: calc(50%-var(--spacing-xs / 2));
                    flex-grow: 1;
                    gap: var(--spacing-2xs);
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff40;
                    border-radius: var(--border-radius-base);
                    text-align: left;
                    padding: var(--spacing-xs);
                    .stat {
                        text-align: right;
                        justify-self: flex-end;
                    }
                }
            }
            .positions-container {
                display: flex;
                flex-direction: column;
                padding: var(--spacing-xs);
                gap: calc(var(--spacing-2xs) / 2);
                background-color: #ffffff40;
                border-radius: var(--border-radius-base);
                text-align: left;
            }
        }
    }
}

::ng-deep .org-chart-card-container {
    border-radius: var(--border-radius-base);
    padding: var(--spacing-xs);
    &.alert {
        background: #f1dbd4;
        border-color: $color-org-chart-alert;
    }
    &.fulfilled {
        background: #d8e7db;
        border-color: $color-org-chart-fulfilled;
    }
}
