.tour-overlay-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xs);
    gap: var(--spacing-xs);
    .allocation-container {
        border-style: solid;
        border-width: 1px;
        border-radius: var(--border-radius-base);
        padding: var(--spacing-3xs) var(--spacing-2xs);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &.unallocated {
        color: var(--color-error) !important;
        border-color: var(--color-error) !important;
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-2xs) / 2);
        .btn {
            padding: 5px 10px;
        }
    }
}
