:host {
    width: 100%;
}
.time-option-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-2xs);
    border-radius: var(--border-radius-lg) !important;
    div {
        span {
            color: var(--color-gray-700);
            font-family: var(--font-sans-serif);
            font-weight: var(--font-weight-normal);
            font-size: var(--font-size-body);
            line-height: var(--line-height-heading-xl);
        }
    }

    .time-and-seats {
        display: block;
        margin-bottom: var(--spacing-3xs);
    }
}
