.img-container {
    padding: var(--spacing-sm);
    height: 800px;
    width: 800px;
    @media screen and (max-width: 768px) {
        height: 600px;
        width: 600px;
    }
    @media screen and (max-width: 480px) {
        height: 100vh;
        width: 100vw;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

::ng-deep .image-lightbox > .p-dialog-content {
    border: none;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
