.modal-confirmation-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding-top: var(--spacing-md);

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-2xs);
        margin-top: var(--spacing-md);
    }
}
