.main-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    .section-header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-2xs);
    }
    .shopping-cart-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: var(--spacing-md);
        background-color: var(--color-gray-100);
        border: 1px dashed var(--color-gray-500);
        p-divider {
            width: auto;
        }
        .img-container {
            position: relative;
            width: 400px;
            height: 280px;
            &:hover {
                .img-action-container {
                    opacity: 1;
                }
            }
            img {
                border-radius: var(--border-radius-base);
                width: 100%;
                height: 100%;
                overflow: hidden;
                object-fit: cover;
                background-color: var(--color-gray-200);
            }
        }
        .left-container {
            width: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .empty-image-container {
                width: 460px;
                height: 280px;
                background-color: var(--color-gray-600);
                border-radius: var(--border-radius-base);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                span {
                    color: var(--color-white);
                    font-weight: var(--font-weight-medium);
                    text-align: center;
                }
            }
        }
        .right-container {
            width: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-md);
            text-align: center;
            .subtext {
                color: var(--color-gray-600);
                text-align: center;
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            .left-container {
                width: 100%;
                .img-container,
                .empty-video-container {
                    width: 100%;
                }
            }
            .right-container {
                width: 100%;
            }
            p-divider {
                width: 100%;
            }
        }
    }
    .tour-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-xl);
        .img-container {
            position: relative;
            height: 200px;
            width: 300px;
            min-width: 200px;
            border: 2px solid transparent;
            border-radius: var(--border-radius-base);
            @media (max-width: 768px) {
                width: calc(50% - var(-gap-xl));
                flex-grow: 1;
                flex-shrink: 1;
            }

            @media (max-width: 480px) {
                width: 100%;
                flex-grow: 1;
                flex-shrink: 1;
            }
            &.shopping-cart {
                border-color: var(--color-blue-300);
            }
            .shopping-cart-badge {
                position: absolute;
                top: var(--spacing-2xs);
                left: var(--spacing-2xs);
                background-color: var(--color-blue-500);
                border-radius: calc(var(--border-radius-base) - 4px);
                padding: calc(var(--spacing-2xs) / 2) var(--spacing-2xs);
                span {
                    color: var(--color-white);
                    // font-weight: var(--font-weight-medium);
                    font-size: var(--font-size-body-m);
                }
            }
            &:hover {
                .img-action-container {
                    opacity: 1;
                }
            }
            img {
                border-radius: calc(var(--border-radius-base) - 2px);
                width: 100%;
                height: 100%;
                overflow: hidden;
                object-fit: cover;
                background-color: var(--color-gray-200);
            }
            .img-action-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: calc(var(--border-radius-base) - 2px);
                background-color: rgba(0, 0, 0, 0.8);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 0.3s;
                button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    background-color: transparent;
                    color: var(--color-white);
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                    margin: var(--spacing-sm);
                }
            }
        }
    }

    .btn-container {
        display: flex;
        align-self: flex-end;
        gap: var(--gap-xs);
        align-items: center;
    }

    .delete-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: var(--color-bg-error);
        color: var(--color-error);
        border: 2px solid #f9f9f9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        i {
            font-size: 12px;
            font-weight: 800;
        }
    }
}
