.booking-info-container {
    display: flex;
    justify-content: space-between;
    column-gap: var(--spacing-sm);
    align-items: center;
    padding: var(--spacing-sm) 0;

    @media screen and (max-width: 720px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: var(--spacing-sm);
        padding: 0;
        gap: var(--spacing-xs);
    }

    .info-row-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        align-items: center;
        @media screen and (max-width: 460px) {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-xs);
        }
        .info-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;

            span {
                font-size: 0.85rem;
                color: #000;
                &.field-name {
                    font-weight: 700;
                }
            }
        }
    }

    .resend-email-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
