.container {
    position: relative;
    .outer-heading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }
    }
}
.notes-outer-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
    .notes-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        h2 {
            margin: 0;
        }
        .notes-inner-container {
            border: 1px solid var(--color-gray-400);
            padding: var(--spacing-sm);
            border-radius: var(--border-radius-base);
            min-height: 120px;
        }
    }
}

.footer-container {
    display: none;
}

.canceled-tag {
    background: var(--color-error);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-base);
    border: 1px solid var(--color-error);
    span {
        color: var(--color-white);
    }
}

.desktop {
    display: block;
}

.confirm-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .title {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 700;
    }
    .description {
        font-size: 1rem;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
        width: 100%;
        button {
            width: 45%;
            flex-grow: 1;
            flex-shrink: 1;
            margin: 0;
        }
    }
}

.status-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 40;
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-end;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-blue-100);
    color: var(--color-blue-500);

    span {
        font-size: var(--font-size-body-s);
        font-weight: var(--font-weight-medium);
    }
    &.display {
        opacity: 1;
        bottom: 0;
    }
}

@media (max-width: 720px) {
    .container {
        .outer-heading-container {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-xs);
        }
    }

    .status-banner {
        bottom: 0;
        z-index: 2;

        &.display {
            bottom: 0;
        }
    }
}
