.container {
    .refund-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        .option-outer-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: var(--spacing-xs);
            .refund-radio {
                margin-top: 3px;
            }
            .option-container {
                display: flex;
                flex-direction: column;
                .policyname {
                    font-size: var(--font-size-body-l);
                }
            }
        }
    }
    .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
