.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-xs);

    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--spacing-l);
        flex-wrap: wrap;
        margin-top: var(--spacing-l);
        img {
            width: 70%;
            max-width: 250px;
            object-fit: contain;
        }
        .text-content-container {
            display: flex;
            flex-direction: column;
            p {
                max-width: 450px;
            }

            .download-buttons-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: var(--spacing-xs);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        align-items: center;
        .content-container {
            flex-direction: column;
            justify-content: center;
            .text-content-container {
                p {
                    text-align: center;
                    margin: 0 var(--spacing-sm);
                }

                .download-buttons-container {
                    margin-top: var(--spacing-md);
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
