.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    .btn-container {
        display: flex;
        align-self: center;
        gap: var(--gap-xs);
        width: 100%;

        button {
            width: calc(50% - var(--gap-xs));
        }
    }
}

::ng-deep .remove-user-training > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
