.tickets-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .ticket-images-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        gap: var(--spacing-sm);
        .image-container {
            width: 150px;
            height: 150px;
            position: relative;
            img {
                width: 150px;
                height: 150px;
                border-radius: var(--border-radius-base);
                background-color: var(--color-gray-150);
                object-fit: cover;
                overflow: hidden;
                cursor: pointer;
            }
            .delete-btn {
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: var(--color-bg-error);
                color: var(--color-error);
                border: 2px solid #f9f9f9;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 1;
                i {
                    font-size: 12px;
                    font-weight: 800;
                }
            }
            .img-action-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: calc(var(--border-radius-base) - 2px);
                background-color: rgba(0, 0, 0, 0.8);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 0.3s;
                button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    background-color: transparent;
                    color: var(--color-white);
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                    margin: var(--spacing-sm);
                }
            }
            &:hover {
                .img-action-container {
                    opacity: 1;
                }
            }
        }
        .upload-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            border-radius: var(--border-radius-base);
            background-color: var(--color-gray-150);
            text-align: center;
            cursor: pointer;
            i {
                font-size: 32px;
                color: var(--color-gray-500);
                transition: transform 200ms ease-in;
            }
            span {
                color: var(--color-gray-500);
            }
            &:hover {
                i {
                    transform: translate(0, -4px);
                }
            }
        }
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}
.file-input {
    display: none;
}
