.dock-container {
    display: flex;
    width: 100%;
    gap: var(--spacing-sm);
    flex-wrap: wrap;

    .dock-column {
        width: calc(50% - var(--spacing-xs));
        display: flex;
        gap: var(--spacing-xs);

        &.full-width {
            width: 100%;
        }

        .textfield-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: var(--spacing-xs);
        }

        .textfield-container-alt {
            display: flex;
            flex-grow: 1;
            gap: var(--spacing-xs);

            div {
                width: calc(50% - var(--spacing-xs));
            }
        }

        &.button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: var(--spacing-xs);
            button {
                max-height: 44px;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1444px) {
    .dock-container {
        .dock-column:nth-of-type(3) {
            width: 100%;
        }
    }

    .dock-container {
        .dock-column:last-of-type {
            justify-content: end;
            align-items: end;
        }
    }
}

@media (max-width: 1024px) {
    .dock-container {
        display: flex;
        width: 100%;
        gap: var(--gap-sm);
        flex-wrap: wrap;
        flex-direction: column;

        .dock-column {
            width: 100%;
            display: flex;
            gap: var(--gap-xs);
            flex-direction: column;

            .textfield-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--spacing-xs);
                width: 100%;
                flex-wrap: wrap;
            }

            .textfield-container-alt {
                display: flex;
                flex-grow: 1;
                gap: var(--spacing-xs);

                div {
                    width: calc(50% - var(--spacing-xs));
                }
            }
        }
    }

    ::ng-deep .p-dialog {
        width: 80vw;
    }
}
