.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        .info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            width: 100%;

            .info-item {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));

                &.checkbox {
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                }
            }
        }
        .file-upload-container {
            margin-top: 20px;
            padding: var(--spacing-md);
            background-color: var(--color-gray-100);
            border: 1px dashed var(--color-gray-400);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .current-file {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .text-container {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a {
                        color: var(--color-blue-400);
                    }
                }
            }
            .upload-btn-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
        }

        .btn-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: var(--spacing-2xs);
        }
    }
}

::ng-deep .edit-user-evaluation > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .info-container {
                flex-direction: column;
                .info-item {
                    width: 100%;
                }
            }
        }
    }
}
