.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);
        .row-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
        }
    }
}

.delete-allocated-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-sm);
    button {
        width: 100%;
    }
}

::ng-deep .delete-selected-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
