.banner-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 40;
    background: var(--color-gray-600);
    color: var(--color-white);
    padding: var(--spacing-xs);
    gap: var(--spacing-2xs);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
