.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
    .btn-add {
        background: var(--color-blue-50);
        color: var(--color-blue-500);
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
    }
}

.booking-table-container {
    position: relative;
}
