:host {
    width: 100%;
}

.accordion-container {
    width: 100%;
    .p-accordion {
        width: 100%;
    }
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep
        .p-accordion-header:not(.p-disabled)
        .p-accordion-header-link:focus {
        box-shadow: none !important;
    }
    ::ng-deep .p-accordion .p-accordion-content {
        border: none;
    }
    th {
        font-size: var(--font-size-body-m);
        &.time {
            width: 80px;
        }
        &.count {
            width: 80px;
        }
        &.action {
            width: 200px;
            min-width: 200px;
        }
    }
    td {
        border: none !important;
    }
    .actions-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-2xs);

        button {
            &.edit-btn {
                position: relative;
                overflow: visible;

                .filter-indicator {
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    border: 1px solid var(--color-white);
                    background-color: var(--color-blue-200);
                    box-shadow: var(--shadow-base-1);
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }
            }
        }
    }
}

.edit-booking-accordion-container {
    padding: 0 !important;
    border: none !important;
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep .p-accordion-content {
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
    }
}
