.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-sm);
    .content-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-2xs);
        .search-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 250px;
            width: 100%;
            input {
                width: 100%;
            }
        }
        button {
            flex-shrink: 0;
        }
    }
    .main-container {
        display: flex;
        gap: var(--spacing-sm);
        .department-container {
            ::ng-deep p-tree .p-tree {
                max-width: 300px;
                padding: unset !important;
            }
            ::ng-deep p-tree .p-tree-container .p-treenode .p-treenode-content {
                padding: 0.1rem;
            }
        }
        .position-container {
            ::ng-deep .p-treetable .p-treetable-tbody > tr > td {
                padding: 0.6rem 1rem !important;
            }
            ::ng-deep .p-treetable-table > .p-treetable-thead {
                background: none !important;
                tr > th {
                    &.ellipsis-col {
                        padding: 0 !important;
                        width: 40px;
                    }
                }
            }
        }
    }

    .position-container {
        tr {
            td {
                img {
                    width: 100px;
                }
                .actions-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: calc(var(--spacing-2xs) / 3);
                    button {
                        background-color: var(--color-gray-100) !important;
                        border: none;
                        outline: none;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        &.edit {
                            color: var(--color-blue-500);
                        }
                        &.delete {
                            color: var(--color-error);
                        }
                    }
                }
            }
        }
        ::ng-deep .p-treetable {
            border: 1px solid var(--color-gray-200);
            border-radius: var(--border-radius-base);
            padding: 1px;
        }
    }
}
