.inventory-container {
    ::ng-deep .inventory-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }
    .action-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-3xs);
        width: 140px;
        .btn {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}
