.credit-card-info-modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 10;
    }

    span {
        &.label {
            font-weight: var(--font-weight-medium);
        }
    }
    .row-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2xs);
        align-items: center;
    }
    .textfield-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
    }
    .action-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        .input-container {
            gap: var(--spacing-base);
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            .textfield-container {
                flex-grow: 1;
                flex-shrink: 1;
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-2xs);
                &.full-width {
                    width: 100%;
                }

                .card-wrapper {
                    position: relative;

                    .card-type-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: var(--gap-xs) var(--gap-sm);
                    }
                }

                .expiration-date-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    .date-input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .credit-card-info-modal-container {
        form {
            .input-container {
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%;
                .textfield-container {
                    width: 100%;
                }
            }
        }
    }
}
::ng-deep .p-inputmask {
    width: 100%;
}

::ng-deep .credit-card-info-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
