.manage-allocation-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .manage-allocation-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: var(--gap-sm);
            .view-controls-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                button {
                    border-radius: 0 !important;
                    box-shadow: none !important;

                    &:not(:first-child):not(:last-child) {
                        border-left: none !important;
                        border-right: none !important;
                    }

                    &.active {
                        background-color: var(--color-blue-500) !important;
                        color: var(--color-white) !important;
                    }

                    &:first-child {
                        border-radius: 6px 0 0 6px !important;
                    }

                    &:last-child {
                        border-radius: 0 6px 6px 0 !important;
                    }
                }
            }
            button {
                &.btn-filter {
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            }
        }
    }
}

.content-container {
    position: relative;

    .hidden {
        display: none;
    }
    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        .loader-inner-container {
            display: flex;
            flex-direction: column;
            padding-top: var(--spacing-md);
        }
    }
}

.error-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-md) var(--spacing-sm);
    text-align: center;
    i {
        font-size: 3rem;
        color: var(--color-orange-500);
    }
}

.list-container {
    display: none;
}
.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .manage-allocation-container {
        .manage-allocation-header-container {
        }
    }
}

@media screen and (max-width: 768px) {
    .manage-allocation-container {
        .manage-allocation-header-container {
            flex-direction: column;
            gap: var(--gap-sm);
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 720px) {
    .table-container {
        display: none;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.manage-allocation-container {
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep .p-accordion-content {
        border: none;
        padding: 0;
    }
}
