.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        .changes-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xs);
            align-items: center;
            .datetime-container {
                padding: var(--spacing-xs);
                border-radius: var(--border-radius-base);
                background-color: var(--color-blue-50);
                width: calc(50% - (var(--spacing-xs) / 2));
                flex-grow: 1;
                flex-shrink: 1;
                &.previous {
                    opacity: 0.5;
                    // .row-container {
                    // }
                }
                .row-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                }
                i,
                span {
                    color: var(--color-gray-800);
                }
            }
        }
    }
}

.move-selected-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-sm);
}

::ng-deep .move-selected-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
