.table-container {
    ::ng-deep .available-inventory-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);

        .action-item {
            width: calc(50% - var(--gap-xs));
        }
    }

    ::ng-deep
        .available-inventory-table
        > .p-datatable
        .p-datatable-tbody
        > tr
        > td {
        border: 0;
    }
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-xs);
    text-align: center;
}
