.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .view-applicants-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);

        .table-container {
            display: block;
            width: 100%;
            margin-top: var(--spacing-sm);

            ::ng-deep .applicants-list-table {
                border: 1px solid var(--color-gray-200);
                border-radius: var(--border-radius-base);
                padding: 1px;
                border-top: 0;
                border-bottom: 0;

                .p-datatable-wrapper {
                    max-height: 55vh; // Adjust the maximum height as needed
                    overflow: auto;
                }
            }
            .actions-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: calc(var(--spacing-2xs) / 3);
                button {
                    &.edit {
                        color: var(--color-blue-500);
                    }
                    &.delete {
                        color: var(--color-error);
                    }
                }
            }
        }
    }

    .action-container {
        margin-top: var(--spacing-sm);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .action-container {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}

::ng-deep .view-applicants-form-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
