.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .certifications-items {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            .certifications-item {
                align-items: left;
                display: flex;
                flex-direction: column;
                width: 33.3333%;
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
        .noexpiry-container {
            display: flex;
            justify-content: flex-start;
            label {
                margin-left: 10px;
            }
        }

        .file-upload-container {
            margin-top: 20px;
            padding: var(--spacing-md);
            background-color: var(--color-gray-100);
            border: 1px dashed var(--color-gray-400);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .current-file {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .text-container {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a {
                        color: var(--color-blue-400);
                    }
                }
            }
            .upload-btn-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
        }
    }
}

::ng-deep .edit-certifications-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .modal-body {
            .certifications-items {
                flex-direction: column;
                .certifications-item {
                    width: 100%;
                }
            }
        }
    }
}
