.user-notes-container {
    ::ng-deep .user-notes-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);
        button {
            &.edit {
                color: var(--color-success);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }

    ::ng-deep .sales-report-table > .p-datatable .p-datatable-tbody > tr > td {
        border: 0;
    }
}
