.dtd-table-control-container {
    display: flex;
    flex-direction: column;

    .switch-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-xs);
        label {
            white-space: nowrap;
        }
    }

    .toggles-container-desktop {
        display: flex;
        @media screen and (max-width: 1260px) {
            display: none;
        }
    }
    .toggles-container-tablet {
        display: none;
        @media screen and (max-width: 1260px) {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            margin-bottom: var(--spacing-sm);
        }
    }
    .toggles-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-md);
    }
    .condensedview-toggle-container {
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        display: none;
        margin-bottom: var(--spacing-xs);
    }
    .top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: var(--gap-large);

        .dtd-date-picker-container {
            display: flex;
            border: 1px solid var(--color-gray-300);
            border-radius: var(--border-radius);
            width: min-content;
            ::ng-deep .input-calendar.p-calendar {
                border: 0 !important;
                input {
                    width: 120px;
                    border: 0 !important;
                    text-align: center;
                }
            }

            .btn-arrow {
                box-shadow: none !important;
                border: none !important;
            }
        }

        .additional-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-xs);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);
        width: 100%;
        .row-container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: var(--gap-sm);
            &.filter-additional-container {
                justify-content: flex-end;
                align-items: center;

                .filter-config-container {
                    align-items: center;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: row;
                    gap: var(--gap-sm);
                    .custom-divider {
                        height: 15px;
                        width: 1px;
                        background-color: var(--color-gray-divider);
                    }
                }
            }
            .control-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 1;
                width: calc((100% / 2) - var(--gap-sm));
            }
            .btn {
                align-self: flex-end;
            }
        }
    }

    ::ng-deep p-multiselect {
        height: 50px;
    }
    ::ng-deep .p-multiselect {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .p-multiselect-label {
            max-height: 100%;
            padding: 0.2rem 0.75rem;
        }
        .p-multiselect-token {
            color: var(--color-gray-600);
            background: var(--color-gray-300);
            height: min-content;
        }
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-xs);
}
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2xs);
    &.btn-filter {
        position: relative;
        overflow: visible;
        .filter-indicator {
            height: 14px;
            width: 14px;
            border-radius: 50%;
            border: 1px solid var(--color-white);
            background-color: var(--color-blue-200);
            box-shadow: var(--shadow-base-1);
            position: absolute;
            right: -5px;
            top: -5px;
        }
    }
}

.actions-row-container-mobile {
    display: none !important;
}
.actions-row-container-desktop {
    display: flex !important;
}

@media screen and (max-width: 768px) {
    .dtd-table-control-container {
        .top-container {
            .daily-cruise-schedule {
                flex-direction: column;
            }
            .additional-controls-container {
                justify-content: space-between;
            }
        }
        form {
            .row-container {
                flex-direction: column;
                align-items: stretch;
                &.filter-additional-container {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .control-container {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .actions-row-container-mobile {
        margin-top: var(--spacing-xs);
        display: flex !important;
    }
    .actions-row-container-desktop {
        display: none !important;
    }
    .dtd-table-control-container {
        .condensedview-toggle-container {
            display: flex;
        }
        .top-container {
            // flex-direction: column;
            gap: var(--spacing-xs);

            .condensed-filters {
                display: flex;
                flex-direction: column;
                .control-container {
                    display: flex;
                    flex-direction: column;
                }
            }
            .dtd-date-picker-container {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                width: 100%;
                gap: calc(var(--spacing-2xs) / 2);
                p-calendar {
                    flex-grow: 1;
                    width: 100%;
                }
                .btn-arrow {
                    flex-shrink: 0;
                    display: flex;
                    box-shadow: none !important;
                    border-color: #d1d5dc !important;
                }
            }

            .additional-controls-container {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: var(--spacing-2xs);
            }
        }
    }
}
.cruise-arrivals-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    .daily-cruise-schedule {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: var(--spacing-xs);
        .arriving-cruise-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            border-radius: var(--border-radius-base);
            border: 1px solid var(--color-blue-200);
            padding: var(--spacing-2xs) var(--spacing-xs);
            img {
                height: 25px;
            }
            .text-container {
                display: flex;
                flex-direction: column;
                font-weight: var(--font-weight-normal);
                span {
                    line-height: 1.3;
                }
                .shipname {
                    font-weight: var(--font-weight-medium);
                }
            }
        }
    }
}

.dtd-table-control-container {
    ::ng-deep .p-accordion-header {
        display: none;
    }
    ::ng-deep .p-accordion-content {
        border: none;
        padding: 0;
    }
}
