.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        .field-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-3xs);
            ::ng-deep p-inputnumber {
                height: 100%;
                .p-inputnumber {
                    width: 100%;
                }
            }
            .textarea-container {
                position: relative;
                width: 100%;
                textarea {
                    width: 100%;
                }
                i {
                    position: absolute;
                    right: var(--spacing-xs);
                    bottom: var(--spacing-xs);
                }
            }
        }
        .tour-details-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: var(--spacing-2xs);
            column-gap: var(--spacing-md);
            .detail-row-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-md);
                .detail-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                }
            }
        }
        .row-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            .field-container {
                width: calc(50% - var(--spacing-2xs));
                flex-grow: 1;
            }
        }
    }
    .actions-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--gap-sm);
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .content-container {
            .row-container {
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
        }
    }
}

::ng-deep .update-selected-tour-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
