.modify-ship-modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 10;
    }

    ::ng-deep .p-dropdown {
        width: 100%;
        max-width: 100% !important;
    }
    .action-buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);

        button {
            width: calc(50% - var(--spacing-xs));
            justify-content: center;
        }
    }
}

::ng-deep .modify-cruise-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
