.main-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    .content-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: var(--spacing-md);
        background-color: var(--color-gray-100);
        border: 1px dashed var(--color-gray-500);
        .left-container {
            width: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .video-content {
                position: relative;
                max-width: 500px;
                width: 100%;
                video {
                    border-radius: var(--border-radius-base);
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .empty-video-container {
                width: 400px;
                height: 250px;
                background-color: var(--color-gray-600);
                border-radius: var(--border-radius-base);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                span {
                    color: var(--color-white);
                    font-weight: var(--font-weight-medium);
                    text-align: center;
                }
            }
        }
        .right-container {
            width: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-md);
            text-align: center;
            .subtext {
                color: var(--color-gray-600);
                text-align: center;
            }
        }
    }

    .delete-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: var(--color-bg-error);
        color: var(--color-error);
        border: 2px solid #f9f9f9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        i {
            font-size: 12px;
            font-weight: 800;
        }
    }

    .file-input {
        .file-input__input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .file-input__label {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            border: 2px solid var(--color-blue-500);
            border-radius: 6px;
            font-size: 14px;
            font-weight: 700;
            color: var(--color-blue-500);
            font-size: 14px;
            padding: 8px 10px;
            background-color: white;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        }
    }
}
.btn-container {
    display: flex;
    align-self: flex-end;
    gap: var(--gap-xs);
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        .content-container {
            flex-direction: column;
            align-items: center;
            .left-container {
                width: 100%;
                .video-content,
                .empty-video-container {
                    width: 100%;
                }
            }
            .right-container {
                width: 100%;
            }
        }
        p-divider {
            width: 100%;
        }
    }
}
