.table-container {
    ::ng-deep .tour-included-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-xs);
        width: 100%;
        button {
            width: 40px;
            height: 40px;
            &.edit {
                color: var(--color-success);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }
    .action {
        width: 90px;
    }
}
