.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .tour-price-items {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            .tour-price-item {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-2xs);
                width: 33%;
                input {
                    width: 100%;
                }
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
}

::ng-deep .edit-tour-price-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 1024px) {
    .modal-inner-container {
        .modal-body {
            .tour-price-items {
                flex-direction: column;
                .tour-price-item {
                    width: 100%;
                }
            }
        }
    }
}
