.month-cell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: var(--spacing-3xs);
    width: 100%;

    .inventory-container {
        border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
        border-width: 1px 1px 1px 4px;
        border-style: solid;
        padding: var(--spacing-3xs) var(--spacing-2xs);
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        &.released {
            color: var(--color-blue-500);
            border-color: var(--color-blue-500);
        }
        &.allocated {
            color: var(--color-success);
            border-color: var(--color-success);
        }
        &.unallocated {
            color: var(--color-black);
            border-color: var(--color-black);
        }
        span {
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }
    }
    .empty-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-2xs);
        padding: var(--spacing-sm);
        text-align: center;
        button {
            padding: 0;
            width: 35px;
            height: 35px;
        }
    }
}

.tour-overlay-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xs);
    gap: var(--spacing-xs);
    .allocation-container {
        border-style: solid;
        border-width: 1px;
        border-radius: var(--border-radius-base);
        padding: var(--spacing-3xs) var(--spacing-2xs);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &.month {
        gap: var(--spacing-xs);
        max-height: 300px;
        overflow: auto;
        .tour-container {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-3xs) / 2);
        }
    }
}
