.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
        &.modal-header-disabled {
            padding-top: var(--spacing-md);
            padding-bottom: var(--spacing-2xs);
        }
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);
        .row-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            form {
                width: 100%;
                padding: var(--spacing-sm) 0;
                .info-container {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-3xs);
                    width: 100%;
                }
            }
        }
    }
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
}

::ng-deep .delete-selected-tour-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
