.inventory-list-container {
    .inventory-item {
        padding: var(--spacing-sm) 0;
        .item-content-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-3xs);
            .header-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: var(--spacing-xs);
                .inventory-item-actions {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-3xs);
                    .btn {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .field-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
            }
        }
    }
}
