.inventory-update-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    .tour-details-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
    }
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-md);
        .form-item {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-md));
            flex-grow: 1;
            &.full-width {
                width: 100%;
            }
            ::ng-deep p-inputnumber {
                height: 100%;
                .p-inputnumber {
                    width: 100%;
                }
            }
        }
    }
    .update-action {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--gap-sm);
    }
}
