.user-evaluations-container {
    ::ng-deep .user-evaluations-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);
        button {
            &.edit {
                color: var(--color-success);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }

    .document-container {
        width: 150px;
        .link-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            color: var(--color-blue-400);

            .text-container {
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: var(--color-blue-400);
                }
            }
        }
    }

    ::ng-deep
        .user-evaluations-table
        > .p-datatable
        .p-datatable-tbody
        > tr
        > td {
        border: 0;
    }
    .evaluation-type {
        padding: 5px 8px;
        border: 1px solid var(--color-blue-500);
        border-radius: 5px;
    }
}
