.top-level-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    .table-container {
        ::ng-deep .allocation-table {
            width: 100%;
            border: 1px solid var(--color-gray-200);
            border-radius: var(--border-radius-base);
            padding: 1px;
        }

        .radio-column {
            max-width: 38px;
        }

        // TODO: Jake/Jacob - make these more specific so it doesn't leak to other components
        ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
            border: 0;
        }
    }
}
