:host {
    width: 100%;
    z-index: 100;
}
.navbar-container {
    width: 100%;
    height: 80px;
    padding: 0 var(--spacing-md);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--color-gray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
        &.logo {
            height: 3rem;
        }
    }
    .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-2xs);
        .button-inner-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            span {
                font-size: var(--font-size-body);
            }
        }
    }
    .user-info-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2xs);
        align-items: center;
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                &.name {
                    font-size: var(--font-size-body);
                    font-weight: var(--font-weight-medium);
                }
                &.description {
                    font-size: var(--font-size-body);
                    font-weight: var(--font-weight-medium);
                    color: var(--color-gray-500);
                }
            }
        }
    }

    .cart-button-inner-container {
        position: relative;
        .badge-container {
            position: absolute;
            top: -5px;
            right: -5px;
        }
    }
}

.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}
.avatar-container {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--color-blue-500);
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .mobile {
        display: flex !important;
    }
    .desktop {
        display: none !important;
    }
    .navbar-container {
        padding: 0 var(--spacing-xs);
        img {
            &.logo {
                height: 2rem;
            }
        }
    }
}
