$color-org-chart-alert: #c64d4d;
.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 20;
        .title-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            .btn-close {
                flex-shrink: 0;
                background: none;
                outline: none;
                border: none;
                width: 30px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
        .stats-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-xs);
            .stat-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
                padding: calc(var(--spacing-2xs) / 2) var(--spacing-xs);
                border-radius: var(--border-radius-base);
                background-color: var(--color-gray-100);
                span {
                    font-size: var(--font-size-body-m);
                    font-weight: 500;
                }
                &.alert {
                    background-color: var(--color-bg-error);
                    color: $color-org-chart-alert;
                }
            }
        }
    }
    h2 {
        margin-bottom: 0;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);

        .users-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--spacing-sm);
            .user-container {
                width: calc(33% - var(--spacing-sm));
                background-color: var(--color-gray-100);
                padding: var(--spacing-sm);
                display: flex;
                flex-direction: column;
                gap: var(--spacing-sm);
                align-items: center;
                border-radius: var(--border-radius-base);
                .image-container {
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-gray-200);
                    span {
                        font-size: var(--font-size-heading-l);
                        font-weight: var(--font-weight-medium);
                        color: var(--color-gray-500);
                    }
                }
                .user-info-container {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-2xs);
                    align-items: center;
                    text-align: center;
                    .info-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                    .dep-pos-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
            @media (max-width: 768px) {
                .user-container {
                    width: calc(50% - var(--spacing-sm));
                }
            }
            @media (max-width: 640px) {
                flex-direction: column;
                .user-container {
                    width: 100%;
                    flex-direction: row;
                    .user-info-container {
                        align-items: flex-start;
                        text-align: left;
                        .info-container,
                        .dep-pos-container {
                            align-items: flex-start;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
}

::ng-deep .org-users-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    .p-divider {
        padding: 0;
        margin: 0;
    }
}
