form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    .field-outer-contaier {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-xs));
        .field-col-container {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-xs));
            width: calc(50% - (var(--spacing-xs)));
            flex-grow: 1;
        }
    }
    // 2 column
    .field-row-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-xs));
        .field-container {
            width: calc(50% - (var(--spacing-xs)));
            flex-grow: 1;
        }
    }
    // 3 column
    .participant-fields-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-xs));
        .field-container {
            width: calc(25% - (var(--spacing-xs)));
            flex-grow: 1;
        }
    }
    .field-container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-2xs) / 2);
        width: 100%;
        &.checkbox-container {
            flex-direction: row;
        }
        label {
            font-size: var(--font-size-body-m);
        }
    }
    .actions-container {
        margin-top: var(--spacing-sm);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-2xs);
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .field-row-container {
                display: flex;
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
            button {
                align-self: stretch;
            }
        }
    }
}
