.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    form {
        .row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            .col-container {
                align-items: left;
                display: flex;
                flex-direction: column;
                width: calc(100%);
                .error-message {
                    color: var(--color-error);
                    text-align: end;
                }
            }
        }
        .checkbox-container {
            margin-top: var(--spacing-md);
            margin-bottom: var(--spacing-md);
            display: flex;
            justify-content: flex-start;
            label {
                margin-left: 10px;
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
}

::ng-deep .edit-qualification-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .row-container {
                flex-direction: column;
                .col-container {
                    width: 100%;
                }
            }
        }
    }
}
