::ng-deep .delete-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header {
    margin-top: var(--spacing-sm);
}

.booking-details-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-2xs) / 2);
    padding: var(--spacing-sm) 0;
    .prompt {
        margin-bottom: var(--spacing-sm);
    }
}

.action-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    justify-content: flex-end;
}
