.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        .tour-details-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2xs);
            padding-top: var(--spacing-sm);
            .shipname {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
                img {
                    height: 25px;
                    width: 25px;
                }
            }
            .tour-schedule-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-md);
                align-items: center;
                .schedule-detail {
                    display: flex;
                    flex-direction: row;
                    gap: var(--spacing-2xs);
                    align-items: center;
                }
            }
        }
    }
    h2 {
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        // TODO: this was copied from the add-otc modal
        // you can remove whats not needed and replace with your own styling

        // 2 column
        .field-row-container {
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-xs));
            .field-container {
                width: calc(50% - (var(--spacing-xs)));
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
        // 3 column
        .participant-fields-container {
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-xs));
            .field-container {
                width: calc(33% - (var(--spacing-xs)));
                flex-grow: 1;
            }
        }
        .field-container {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-2xs) / 2);
            width: 100%;
            label {
                font-size: var(--font-size-body-m);
            }
        }
        .action-container {
            margin-top: var(--spacing-sm);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-xs);
        }
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .field-row-container {
                display: flex;
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
            .action-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: var(--spacing-2xs);
                button {
                    align-self: stretch;
                }
            }
        }
    }
}

::ng-deep .form-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
