.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 10;
        h2 {
            margin-bottom: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        .row-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xs);
            @media screen and (max-width: 768px) {
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
            .field-container {
                width: calc(50% - var(--spacing-xs));
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        .field-container {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .notes-textarea {
            width: 100%;
            height: 240px;
            resize: none;
        }

        .action-container {
            margin-top: var(--spacing-sm);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-xs);
        }
    }
}

::ng-deep .join-departures-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
