.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        span {
            font-size: var(--font-size-body-xl);
            font-weight: var(--font-weight-medium);
        }
        video {
            border-radius: var(--border-radius-base);
            width: 500px;
            height: auto;
            overflow: hidden;
            object-fit: cover;
        }
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--spacing-2xs);
        padding-top: var(--spacing-md);
        width: 100%;
    }
}

::ng-deep .remove-tour-video > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
