.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-md);
    }
}

.duration {
    font-size: var(--font-size-body);
    &.matched {
        color: var(--color-success);
    }
    &.notMatch {
        color: var(--color-error-alt);
    }
}

.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    box-shadow: var(--shadow-base-1);
}

.table-container {
    flex: 1;
    overflow: auto;
    padding: 0 1rem;

    .itinerary-table {
        tbody {
            tr > td {
                font-size: var(--font-size-heading-2xl);
            }
        }
        ::ng-deep .order-wrapper {
            display: flex;
            align-items: center;
            gap: var(--gap-xl);
            width: 50px;
        }
    }

    ::ng-deep .p-orderlist-controls {
        display: none;
    }
}
