.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-md);
        &.not-included {
            margin-top: var(--spacing-xl);
        }
    }
}
