.outer-container {
    display: flex;
    flex-direction: column;
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        margin-bottom: var(--spacing-sm);
        h1 {
            margin: 0;
            color: var(--color-gray-800);
        }
    }

    .main-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-white);
        border-radius: var(--border-radius-base);
        overflow: hidden;
        box-shadow: var(--shadow-base-1);
        .nav-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: var(--color-gray-100);
            a {
                color: var(--color-gray-600);
                font-size: var(--font-size-body);
                border-top-width: 5px;
                border-top-style: solid;
                border-top-color: transparent;
                padding: var(--spacing-xs) var(--spacing-md);
                transition: all 400ms;
                &.active {
                    color: var(--color-blue-500);
                    border-top-color: var(--color-blue-500);
                    background-color: var(--color-blue-gray);
                }
            }
        }
        .sub-pages-container {
            padding: var(--spacing-md);
        }
    }
}
