.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        .cell-container {
            align-items: left;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .file-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-sm);
            .img-container {
                position: relative;
                img {
                    height: 250px;
                    width: 400px;
                    background-color: var(--color-gray-200);
                    border-radius: var(--border-radius-base);
                    overflow: hidden;
                    object-fit: cover;
                }
                .delete-btn {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: var(--color-bg-error);
                    color: var(--color-error);
                    border: 2px solid #f9f9f9;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: 1;
                    i {
                        font-size: 12px;
                        font-weight: 800;
                    }
                }
            }
        }
        .image-upload-file-input {
            border-radius: var(--border-radius-base);
            width: 100%;
            height: 300px;
            overflow: hidden;
            border: 1px dashed var(--color-gray-400);
            background-color: var(--color-gray-100);
            position: relative;
            input {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .empty-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: var(--spacing-sm);
                i {
                    font-size: 3rem;
                    color: var(--color-gray-600);
                }
                .text-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacing-2xs);
                }
            }
        }
        .action-container {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            gap: var(--spacing-2xs);
        }
    }
}

::ng-deep .add-cruise-line-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-500);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
