.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
    }
    h2 {
        margin-bottom: 0;
    }

    .add-unallocated-inventory-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: var(--spacing-sm);

        .form-item {
            width: calc(50% - var(--spacing-sm));
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);
            &.full-width {
                width: 100%;
            }
            &.quarter-width {
                width: calc(25% - var(--spacing-sm));
                display: flex;
                justify-content: space-between;
            }

            .radio-row {
                display: flex;
                flex-direction: row !important;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: var(--gap-sm);

                .radio-item {
                    display: flex;
                    gap: var(--gap-xs);
                }
            }

            &.time-row {
                display: flex;
                flex-direction: row !important;
                gap: var(--gap-xs);
                align-items: center;
                justify-content: flex-start;
                width: calc(24% - var(--gap-sm));

                input {
                    width: 80%;
                }
            }
        }
        .checkbox-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-md);
        }
        .button-row {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            align-items: center;
            width: 100%;

            button {
                width: calc(50% - var(--gap-sm));
            }
        }
    }
}

::ng-deep .add-unallocated-inventory-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 572px) {
    .modal-inner-container {
        .add-unallocated-inventory-container {
            .form-item {
                &.time-row {
                    display: flex;
                    flex-direction: row !important;
                    gap: var(--gap-xs);
                    align-items: center;
                    justify-content: flex-start;
                    width: calc(48% - var(--gap-sm));

                    input {
                        width: 80%;
                    }
                }
            }
        }
    }
}
