.user-training-container {
    ::ng-deep .user-training-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xs);
        button {
            &.edit {
                color: var(--color-success);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }

    ::ng-deep .user-training-table > .p-datatable .p-datatable-tbody > tr > td {
        border: 0;
    }
    .training-type {
        padding: 5px 8px;
        border: 1px solid var(--color-blue-500);
        border-radius: 5px;
    }
}
