.api-container {
    padding: var(--spacing-xl);

    .code {
        font-family: monospace;
        color: var(--color-blue-400);
    }

    .results-container,
    .error-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        h3 {
            margin: 0;
        }
        .code-container {
            background-color: var(--color-gray-300);
            padding: var(--spacing-md);
            border-radius: var(--border-radius-lg);
        }
    }
}
