.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        .top-actions-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .checkin-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .checkedin-badge {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                    background-color: var(--color-bg-success);
                    color: var(--color-success);
                    padding: var(--spacing-xs) var(--spacing-sm);
                    border-radius: var(--border-radius-base);
                }
            }
        }
        .btn-close {
            flex-shrink: 0;
            background: none;
            outline: none;
            border: none;
            width: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    .tour-details-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);

        .table-container {
            border-radius: var(--border-radius-base);
            margin-top: var(--spacing-xs);
            overflow: hidden;
            tr {
                th {
                    background: var(--color-white) !important;
                    font-size: var(--font-size-body-m);
                    text-transform: uppercase;
                    font-weight: var(--font-weight-medium);
                    font-size: var(--font-size-body-m);
                }
                td {
                    background: var(--color-white) !important;
                    border-bottom: 2px solid #f1f1f1 !important;
                    white-space: nowrap;
                }
            }
        }
        .menu-button {
            background-color: transparent;
            color: var(--color-black);
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
}

::ng-deep .booking-list-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-base);
    margin-top: var(--spacing-xs);
    background-color: var(--color-white);
    .icon-container {
        display: flex;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        align-items: center;
        justify-content: center;
        background-color: var(--color-gray-150);
    }
    span {
        color: var(--color-gray-600);
    }
}

.booking-list-modal-container {
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.6rem 1rem !important;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.ellipsis-col {
            padding: 0 !important;
            width: 40px;
        }
        span {
            i {
                font-size: 0.8rem;
                margin-left: calc(var(--spacing-2xs) / 2);
            }
        }
    }
    ::ng-deep .p-datatable-table > .p-datatable-thead {
        background: none !important;
        tr > th {
            &.ellipsis-col {
                padding: 0 !important;
                width: 40px;
            }
        }
    }
}
