.full-day-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row;

    .ships-container {
        min-width: 65px;
        flex-grow: 0;
        flex-shrink: 1;

        background-color: rgba(0, 0, 0, 0.03);
        border-color: var(--color-gray-300);
        position: relative;
        .ship-container {
            max-width: 100px;
            position: absolute;
            border-style: solid;
            border-width: 1px 1px 1px 5px;
            border-radius: 0 var(--border-radius-base) var(--border-radius-base)
                0;
            border-color: var(--color-blue-500);
            color: var(--color-blue-500);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .inner-container {
                rotate: 270deg;
                width: 400px; // assume parent's width
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-2xs);
            }
        }
        .no-ship-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .inner-container {
                rotate: 270deg;
                width: 300px; // assume parent's width
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-2xs);
                span {
                    color: var(--color-gray-600);
                }
            }
        }
    }
    .tours-container {
        flex-shrink: 1;
        flex-grow: 1;
        position: relative;
        .hour-container {
            position: absolute;
            width: 100%;
            pointer-events: none;

            .hour-inner-container {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                .tour-container {
                    height: 30px;
                    position: relative;
                    flex-grow: 1;
                    flex-shrink: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: var(--spacing-xs);
                    border-radius: calc(var(--border-radius-base) / 2);
                    border-style: solid;
                    border-width: 1px 1px 1px 5px;
                    border-radius: 0 var(--border-radius-base)
                        var(--border-radius-base) 0;
                    border-color: var(--color-blue-500);
                    pointer-events: auto;
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        white-space: nowrap;
                    }
                    &.unallocated {
                        color: var(--color-black) !important;
                        border-color: var(--color-black) !important;
                    }
                    &.allocated {
                        padding-left: 7px;
                        background-color: #fff !important;
                        opacity: 0.8;
                        background-size: 10px 10px !important;
                        background-image: repeating-linear-gradient(
                            45deg,
                            #05365420 0,
                            #05365420 1px,
                            #fff 0,
                            #fff 50%
                        ) !important;
                    }
                }
            }
        }
    }
}
