.outer-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    .main-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-white);
        overflow: hidden;

        .role-tag {
            width: fit-content;
            text-align: center;
            padding: 2px 10px;
            border-radius: 4px;
            background-color: var(--color-blue-400);
            color: #fff;
            span {
                font-size: var(--font-size-body-s);
            }
        }
        .content-header-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-xs);
            .left-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-xs);
                .search-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-shrink: 1;
                    input {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        width: 100%;
                    }
                    button {
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }
                }
                .isactive-switch-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--spacing-2xs);
                }
            }
            button {
                flex-shrink: 0;
                &.add {
                    display: flex;
                    &.mobile {
                        display: none;
                    }
                }
            }
        }
        .table-container {
            display: block;
            width: 100%;
            margin-top: var(--spacing-sm);

            ::ng-deep .jobs-list-table {
                border: 1px solid var(--color-gray-200);
                border-radius: var(--border-radius-base);
                padding: 1px;
                border-top: 0;
                border-bottom: 0;
            }
            .actions-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: calc(var(--spacing-2xs) / 3);
                button {
                    &.edit {
                        color: var(--color-blue-500);
                    }
                    &.delete {
                        color: var(--color-error);
                    }
                }
            }
        }
        .cards-container {
            display: none;
        }
    }
}

.show-inactive {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    width: 100%;
    margin-left: 20px;
}
@media screen and (max-width: 720px) {
    .outer-container {
        .main-content-container {
            .content-header-container {
                button {
                    &.add {
                        display: none;
                        &.mobile {
                            display: flex;
                        }
                    }
                }
            }
            .table-container {
                display: none;
            }
            .cards-container {
                display: flex;
                flex-direction: column;
                margin-top: var(--spacing-sm);
                .card-container {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-2xs);
                    .card-header-container {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: space-between;
                        gap: var(--spacing-xs);
                        margin-bottom: var(--spacing-2xs);

                        .actions-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            flex-grow: 1;
                            gap: calc(var(--spacing-2xs) / 3);
                            button {
                                &.edit {
                                    background-color: var(--color-gray-100);
                                    color: var(--color-blue-500);
                                }
                                &.delete {
                                    background-color: var(--color-gray-100);
                                    color: var(--color-error);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
