:host {
    width: 100%;
}

.booking-list-container {
    width: 100%;
    padding: var(--spacing-xs);
    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .title-text-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            span {
                font-size: var(--font-size-body);
                font-weight: var(--font-weight-medium);
            }
        }
        button {
            border: none;
            width: 40px;
            height: 40px;
            justify-content: flex-end;
            background: none;
            i {
                font-size: 0.9rem;
            }
        }
    }
    .table-container {
        border-radius: var(--border-radius-base);
        margin-top: var(--spacing-xs);
        overflow: hidden;
        tr {
            th {
                background: var(--color-white) !important;
                font-size: var(--font-size-body-m);
                text-transform: uppercase;
                font-weight: var(--font-weight-medium);
                font-size: var(--font-size-body-m);
            }
            td {
                background: var(--color-white) !important;
                border-bottom: 2px solid #f1f1f1 !important;
                white-space: nowrap;
            }
        }
    }
    .menu-button {
        background-color: transparent;
        color: var(--color-black);
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }
}
.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-base);
    margin-top: var(--spacing-xs);
    background-color: var(--color-white);
    .icon-container {
        display: flex;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        align-items: center;
        justify-content: center;
        background-color: var(--color-gray-150);
    }
    span {
        color: var(--color-gray-600);
    }
}

.booking-list-container {
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.6rem 1rem !important;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.ellipsis-col {
            padding: 0 !important;
            width: 40px;
        }
        span {
            i {
                font-size: 0.8rem;
                margin-left: calc(var(--spacing-2xs) / 2);
            }
        }
    }
    ::ng-deep .p-datatable-table > .p-datatable-thead {
        background: none !important;
        tr > th {
            &.ellipsis-col {
                padding: 0 !important;
                width: 40px;
            }
        }
    }
}
