.needing-allocation-form-container {
    display: flex;
    flex-direction: column;
    .btn-clear {
        align-self: flex-end;
    }
    form {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        .filter-left-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            width: calc(70% - var(--gap-sm));

            .filter-item {
                width: calc(33% - var(--gap-sm));
                display: flex;
                flex-direction: column;
            }
        }
        .filter-right-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            gap: var(--gap-sm);
            width: 30%;

            .filter-item {
                width: 100%;
                display: flex;
                flex-direction: column;

                ::ng-deep .p-multiselect {
                    width: 100%;
                    height: 180px;
                    .p-multiselect-label-container {
                        .p-multiselect-label {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            height: fit-content;
                            max-height: 100%;
                            gap: var(--spacing-2xs);
                            overflow-y: auto;
                            span {
                                max-width: none;
                            }
                        }
                        .p-multiselect-token {
                            color: var(--color-gray-600);
                            background: var(--color-gray-300);
                            height: min-content;
                        }
                    }
                    .p-multiselect-trigger {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-shrink: 0;
                        padding-top: 14px;
                    }
                }
            }
            .buttons-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
                justify-content: flex-end;
                align-self: flex-end;
            }
        }
    }
    .radio-filters {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .radio-filter-item {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);
            align-items: center;
            width: 100%;
            ::ng-deep .p-inputtext {
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .needing-allocation-form-container {
        form {
            flex-direction: column;
            width: 100%;
            .filter-left-container {
                width: 100%;
                .filter-item {
                    width: 100%;
                }
            }

            .filter-right-container {
                width: 100%;
                align-items: flex-start;
                .btn {
                    align-self: flex-end;
                }
            }
        }
    }
}
