.agent-information-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-sm);

    .form-container {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .last-modified-container {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
    }
}
