.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        .form-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            width: 100%;

            .form-field {
                display: flex;
                flex-direction: column;
                width: calc(100% - var(--gap-sm));

                ::ng-deep .full-width {
                    width: 100%;
                }
            }
        }

        .btn-container {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            gap: var(--gap-xs);
        }
    }
}

::ng-deep .edit-tour-included > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
