.allocation-container {
    ::ng-deep .allocation-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }
    .action-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-3xs);
        width: 170px;
        .btn {
            width: 40px;
            height: 40px;
            position: relative;
            overflow: visible;
            img {
                height: 20px;
                width: 20px;
            }
            .active-indicator {
                height: 14px;
                width: 14px;
                border-radius: 50%;
                border: 1px solid var(--color-white);
                background-color: var(--color-blue-200);
                box-shadow: var(--shadow-base-1);
                position: absolute;
                right: -5px;
                top: -5px;
            }
        }
    }
}
