.calendar-view-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px; // account for hour segments
    border: thin solid #e1e1e1;
    .day-indicator {
        width: 100%;
        border-left: thin solid #e1e1e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .date-container {
            width: 35px;
            height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            &.today {
                background-color: #e8fde7;
            }
        }
        span {
            &.weekend {
                color: var(--color-error);
            }
        }
    }
}
