form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    .info-container {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        .info-item {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-sm));
            &.full-width {
                width: 100%;
            }
            ::ng-deep .full-width {
                width: 100%;
            }
        }
    }
    .radio-row {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: var(--gap-sm);

        .radio-item {
            display: flex;
            gap: var(--gap-xs);
        }
    }
    .date-container {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        width: 100%;
        justify-content: space-between;
        .date-item {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-sm));
        }
    }
    .frequency-container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);
        .days-container,
        .biweekly-container {
            display: flex;
            flex-direction: column;
            gap: var(--gap-xs);
            .checkbox-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--gap-sm);
            }
        }
    }
    .time-container {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        width: 100%;
        justify-content: space-between;
        .time-item,
        .date-item {
            display: flex;
            flex-direction: column;
            width: calc(40% - var(--gap-sm));
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: calc(20% - var(--gap-sm));
            button {
                width: 100%;
                max-height: 48px;
            }
        }
    }
}
.table-container {
    margin: var(--spacing-md) 0;
}

.edit-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-sm);
}
