.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 10;
        .actions-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .checkedin-badge {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
                background-color: var(--color-bg-success);
                color: var(--color-success);
                padding: var(--spacing-xs) var(--spacing-sm);
                border-radius: var(--border-radius-base);
            }
        }
    }
    h2 {
        margin-bottom: 0;
    }
}

::ng-deep .edit-booking-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
