.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            margin-bottom: var(--spacing-2xs);
            .column-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-2xs);
                flex-wrap: wrap;
                flex-grow: 1;
                width: calc(49% - var(--spacing-2xs));
                &.full-width {
                    width: 100%;
                }
                .cell-container {
                    align-items: left;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: calc(33% - var(--spacing-2xs));
                    &.full-width {
                        width: 100%;
                    }
                    img {
                        width: 80%;
                    }
                }
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
        .content-header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-sm);
            margin-bottom: var(--spacing-sm);
        }
        ::ng-deep
            .p-tabview
            .p-tabview-nav-container
            .p-tabview-nav-content
            .p-tabview-nav {
            border: unset;
            li {
                &.p-highlight {
                    .p-tabview-nav-link {
                        border-bottom: 4px solid var(--color-blue-500);
                        background-color: var(--color-blue-gray);
                    }
                }
                .p-tabview-nav-link {
                    border-bottom: 3px solid #e5e7eb;
                    padding-top: 12px !important;
                    padding-bottom: 10px !important;
                    padding: 15px;
                    .p-tabview-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

::ng-deep .edit-cruise-line-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .modal-body {
            .row-container {
                .column-container {
                    width: 100%;
                    .cell-container {
                        width: 100%;
                    }
                }
            }
            .content-header-container {
                flex-direction: column !important;
                align-items: stretch;
            }
        }
    }
}
