.modal-confirmation-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding-top: var(--spacing-md);
    .tour-details-container {
        display: flex;
        flex-direction: column;
        .row-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            .cell-container {
                display: flex;
                flex-direction: column;
                .tour-description {
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-2xs);
        margin-top: var(--spacing-md);
    }
}

::ng-deep .remove-tour-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
