.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .disable-job-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
    }

    .action-container {
        margin-top: var(--spacing-sm);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-xs);
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .action-container {
            flex-direction: column;
            align-items: stretch;
        }
    }
}

::ng-deep .disable-job-form-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
