.table-container {
    ::ng-deep .tour-price-table {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
        border-bottom: 0;
    }

    .action-column {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);
        button {
            background-color: var(--color-gray-100) !important;
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &.edit {
                color: var(--color-blue-500);
            }
            &.delete {
                color: var(--color-error);
            }
        }
    }

    ::ng-deep .tour-price-table > .p-datatable .p-datatable-tbody > tr > td {
        border: 0;
    }
}
