.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .btn-clear {
        align-self: flex-end;
    }
    form {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);
        width: 100%;
        .tour-container {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-sm));
            flex-grow: 1;
        }
        .column-container {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-sm));
            gap: var(--gap-sm);
            flex-grow: 1;
            .row-container {
                display: flex;
                flex-direction: row;
                gap: var(--gap-sm);
                width: 100%;

                &.actions-container {
                    flex-wrap: wrap;
                }

                .control-container {
                    display: flex;
                    flex-direction: column;
                    width: calc(50% - var(--gap-sm));
                    flex-grow: 1;
                }
            }
            .btn {
                align-self: flex-end;
                justify-self: flex-end;
                flex-shrink: 0;
            }
        }
        ::ng-deep .p-multiselect {
            width: 100%;
            height: 210px;
            .p-multiselect-label-container {
                .p-multiselect-label {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    max-height: 100%;
                    gap: var(--spacing-2xs);
                    overflow-y: auto;
                    height: fit-content;
                    span {
                        max-width: none;
                    }
                }
                .p-multiselect-token {
                    color: var(--color-gray-600);
                    background: var(--color-gray-300);
                    height: min-content;
                }
            }
            .p-multiselect-trigger {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-shrink: 0;
                padding-top: 14px;
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .form-container {
        form {
            display: flex;
            flex-direction: column;
            gap: var(--gap-sm);
            width: 100%;
            .tour-container {
                width: 100%;
            }
            .column-container {
                width: 100%;
                .row-container {
                    flex-direction: column;
                    width: 100%;
                    .control-container {
                        width: 100%;
                    }
                }
            }
        }
    }
}
