.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .video-container {
        height: 100%;
        position: relative;
        &.hidden {
            display: none;
        }
        video {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        canvas {
            display: none;
        }
        .btn-capture {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid var(--color-white);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            .button-inner {
                background-color: var(--color-white);
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 50%;
            }
        }
    }
    .output-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-2xs);
        height: 100%;
        position: relative;
        img {
            width: 100%;
            object-fit: contain;
            overflow: hidden;
        }
        // .btn-upload {
        //     position: absolute;
        //     right: 10px;
        //     bottom: 10px;
        // }

        .actions-container {
            background-color: var(--color-white);
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-xs);
            padding: var(--spacing-xs);
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: #00000050;
        border: none;
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
