.main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    form {
        .nofi-label {
            margin-top: var(--spacing-sm);
            margin-bottom: var(--spacing-sm);
        }
        .row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            .cell-container {
                align-items: left;
                display: flex;
                flex-direction: column;
                width: calc(33% - var(--spacing-2xs));
                &.half-width {
                    width: calc(50% - var(--spacing-2xs));
                }
                &.two-third-width {
                    width: calc(66% - var(--spacing-2xs));
                }
            }
            .btn-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: var(--gap-sm);
                margin-top: var(--spacing-sm);
                align-items: flex-end;
                .btn-group {
                    display: flex;
                    align-self: flex-end;
                    margin-right: var(--gap-sm);
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .main-content {
        form {
            .row-container {
                .cell-container {
                    width: 100% !important;
                }
            }
        }
    }
}
