.modal-inner-container {
    .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--spacing-sm);
    }
    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        // 2 column
        .field-row-container {
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-xs));
            .field-container {
                width: calc(50% - (var(--spacing-xs)));
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
        .action-container {
            margin-top: var(--spacing-sm);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-xs);
        }
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .field-row-container {
                display: flex;
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
            .action-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: var(--spacing-2xs);
                button {
                    align-self: stretch;
                }
            }
        }
    }
}

::ng-deep .form-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
