.allocation-list-container {
    .item-content-container {
        padding: var(--spacing-sm) 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);
        .header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: var(--spacing-xs);
            .inventory-item-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-3xs);
                .btn {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .field-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
        }
    }
}

.menu-option {
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--spacing-2xs) var(--spacing-xs);
        gap: var(--spacing-2xs);
        color: var(--color-black);
        img {
            height: 20px;
            width: 20px;
        }
    }
}
