form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-sm);
    .row-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: var(--spacing-sm);
        flex-wrap: wrap;
        .field-container {
            display: flex;
            flex-direction: column;
            width: calc(33.3% - var(--spacing-sm));
            flex-grow: 1;

            &.full-width {
                width: 100% !important;

                .error-message {
                    color: var(--color-error);
                    text-align: end;
                }
            }
        }
    }
    .checkbox-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        .field-container {
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-3xs);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    form {
        .row-container {
            flex-direction: column;
            .field-container {
                width: 100%;
            }
        }
    }
}
