.toast-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    height: 40px;
    z-index: 20;
    &.loading {
        background-color: var(--color-blue-100);
        color: var(--color-blue-500);
    }
    &.error {
        background-color: var(--color-bg-error);
        color: var(--color-error);
    }
    padding: 0 var(--spacing-2xs);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
