.position-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-sm);
    .btn-add-position {
        justify-self: flex-start;
        align-self: flex-start;
    }
    .row-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: var(--spacing-sm);
        padding: var(--spacing-xs) 0;
        .field-container {
            display: flex;
            flex-direction: column;
            width: calc(30% - var(--spacing-sm));
            flex-grow: 1;
        }
        .btn {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
    .divider-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .position-container {
        .row-container {
            flex-direction: column;
            .field-container {
                width: 100%;
            }
        }
    }
}

::ng-deep .department-option {
    &.first {
        > span {
            font-weight: 700;
        }
    }
    &.second {
        padding-left: var(--spacing-xs);
        > span {
            font-weight: 600;
        }
    }
    &.third {
        padding-left: var(--spacing-l);
        > span {
            font-weight: 500;
        }
    }
    &.fourth {
        padding-left: var(--spacing-3xl);
    }
}
