.recently-released-container {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-sm);
    }
    .content-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-sm);
        .actions-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
        }
        @media screen and (max-width: 720px) {
            flex-direction: column;
            input {
                width: 100%;
            }
            .actions-container {
                display: none;
            }
        }
    }
}
.list-container {
    display: none;
}
.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media screen and (max-width: 720px) {
    .recently-released-container {
        .header-container {
            .actions-container {
                display: none;
            }
        }
    }
    .table-container {
        display: none;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
