.tour-details-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    padding-bottom: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    border-bottom: 1px solid var(--color-gray-200);
    .assignment-details-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        align-items: center;
        color: var(--color-gray-700);
        .custom-divider {
            width: 0.5px;
            background-color: var(--color-gray-200);
            height: 20px;
        }
        .info-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            span,
            i {
                color: var(--color-gray-700);
            }
        }
    }
}
