.dtd-condensed-table-container {
    width: 100%;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
    tr {
        th {
            background: none !important;
            font-size: var(--font-size-body-m);
            text-transform: uppercase;
            font-weight: var(--font-weight-medium);
            &.time {
                width: 80px;
            }
            &.count {
                width: 80px;
            }
            &.driver {
                width: 140px;
            }
            &.status {
                width: 100px;
            }
        }
        td {
            border-bottom: 2px solid #f1f1f1 !important;
            white-space: nowrap;
            &:first-child {
                border-radius: var(--border-radius-base) 0 0
                    var(--border-radius-base);
            }

            &:last-child {
                border-radius: 0 var(--border-radius-base)
                    var(--border-radius-base) 0;
            }
            .tourname-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
            }
            span {
                color: var(--color-black);
                font-size: var(--font-size-body);
            }
            &.time {
                width: 80px;
                span {
                    white-space: nowrap;
                }
            }
            &.count {
                width: 80px;
                .total {
                    opacity: 0.3;
                    &.final {
                        opacity: 1;
                    }
                }

                .actual {
                    font-size: var(--font-size-body-xl);
                    font-weight: var(--font-weight-medium);
                }
            }
            &.driver {
                width: 140px;
                div {
                    display: flex;
                    flex-direction: row;
                    gap: var(--spacing-2xs);
                }
            }
            &.status {
                width: 100px;
                .status-chip {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacing-2xs);
                    padding: calc(var(--spacing-2xs) / 2) var(--spacing-xs);
                    border-radius: 999px;
                    width: fit-content;
                }
            }
        }
    }
}

.default-assignment {
    background: #efefef !important;
}

.open-assignment {
    background: #d8e7db !important;
    td {
        .status-chip {
            background-color: #ffffff90;
            span {
                color: #1c8d4f;
                font-size: var(--font-size-body-m);
                font-weight: var(--font-weight-medium);
            }
        }
    }
}

.closed-assignment {
    background: #f1dbd4 !important;
    td {
        .status-chip {
            background-color: #ffffff90;
            span {
                color: #c64d4d;
                font-size: var(--font-size-body-m);
                font-weight: var(--font-weight-medium);
            }
        }
    }
}

.cancelled-assignment {
    background: #f1dbd4 !important;
    background-size: 10px 10px !important;
    background-image: repeating-linear-gradient(
        45deg,
        #e4af9f 0,
        #e4af9f 1px,
        #f1dbd4 0,
        #f1dbd4 50%
    ) !important;
    td {
        .status-chip {
            background-color: #ffffff90;
            span {
                color: #c64d4d;
                font-size: var(--font-size-body-m);
                font-weight: var(--font-weight-medium);
            }
        }
    }
}

.confirmed-assignment {
    background: #dddddd !important;
    td {
        .status-chip {
            background-color: #ffffff90;
            span {
                color: var(--color-gray-700);
                font-size: var(--font-size-body-m);
                font-weight: var(--font-weight-medium);
            }
        }
    }
}
.menu-button {
    background-color: transparent;
    color: var(--color-black);
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.dtd-condensed-table-container {
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.6rem 1rem !important;
        &.ellipsis-col {
            padding: 0 !important;
            width: 40px;
        }
        span {
            i {
                font-size: 0.8rem;
                margin-left: calc(var(--spacing-2xs) / 2);
            }
        }
    }
    ::ng-deep .p-datatable-table > .p-datatable-thead {
        background: none !important;
        tr > th {
            &.ellipsis-col {
                padding: 0 !important;
                width: 40px;
            }
        }
    }
}

::ng-deep .dtd-condensed-table-menu-option {
    .menu-option-inner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        padding: calc(var(--spacing-2xs) / 2) var(--spacing-sm);
        cursor: pointer;
        span {
            position: relative;
            .indicator {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: var(--color-blue-200);
                position: absolute;
                right: -10px;
                top: 2px;
                z-index: 5;
            }
        }
    }
}
