.price-summary-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 0.25rem;
    h4 {
        color: #b5b5c3;
        margin: 0.5rem 1.25rem;
        font-size: 1.25rem;
        font-weight: 700;
    }
    .row-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0.25rem 1.25rem;
        border-radius: 0.25rem;
        color: #3a3e44;
        font-size: 1rem;
        font-weight: 600;

        h4 {
            margin: 0;
        }

        &.total-container {
            background-color: #053654;
            color: #fff;
            padding: 0.5rem 1.25rem;
        }
    }
}

.tooltip2 {
    margin-bottom: -6px;
    white-space: pre-wrap;
}

@media (max-width: 1024px) {
    .price-summary-container {
        max-width: none;
        width: 100%;
    }
}
