.modal-confirmation-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding-top: var(--spacing-md);
    .row-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-2xs);
        .col-container {
            display: flex;
            flex-direction: column;
        }
    }
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-2xs);
        margin-top: var(--spacing-md);
    }
}
::ng-deep .remove-pay-rate-modal > .p-dialog-content {
    border-top: 5px solid var(--color-error);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
