.modal-inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
        z-index: 10;

        .assignment-status-banner {
            padding: var(--spacing-2xs) var(--spacing-xs);
            border-radius: var(--border-radius-base);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-2xs);
            background-color: var(--color-blue-100);
            color: var(--color-blue-400);
            &.closed {
                background-color: var(--color-bg-error);
                color: var(--color-error);
            }
            &.open {
                background-color: var(--color-bg-success);
                color: var(--color-success);
            }
        }
    }
    h2 {
        margin-bottom: 0;
    }
    h3 {
        margin-bottom: 0;
        &:first-child {
            margin-top: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        // 2 column
        .field-row-container {
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-xs));
            .field-container {
                width: calc(50% - (var(--spacing-xs)));
                flex-grow: 1;
            }
        }
        // 3 column
        .participant-fields-container {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-2xs));
            .row-container {
                display: flex;
                flex-direction: row;
                gap: calc(var(--spacing-xs));
                .field-container {
                    width: calc(25% - (var(--spacing-xs)));
                    flex-grow: 1;
                }
            }
            .participant-notice-container {
                width: fit-content;
                padding: var(--spacing-2xs) var(--spacing-xs);
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-2xs);
                border-radius: var(--border-radius-base);
                &.warning {
                    background-color: var(--color-bg-warn);
                    color: var(--color-warn);
                }
                &.error {
                    background-color: var(--color-bg-error);
                    color: var(--color-error);
                }
            }
        }
        .field-container {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing-2xs) / 2);
            width: 100%;
            label {
                font-size: var(--font-size-body-m);
            }
            &.checkbox-container {
                flex-direction: row;
            }
        }
        .action-container {
            margin-top: var(--spacing-sm);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-xs);
        }
    }
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .field-row-container {
                display: flex;
                flex-direction: column;
                .field-container {
                    width: 100%;
                }
            }
        }
    }
}

::ng-deep .add-otc-dialog > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
