.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .content-header-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: var(--spacing-sm);
        }
        .table-container {
            ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
                padding: 0.6rem 1rem !important;
                &.ellipsis-col {
                    padding: 0 !important;
                    width: 40px;
                }
                span {
                    i {
                        font-size: 0.8rem;
                        margin-left: calc(var(--spacing-2xs) / 2);
                    }
                }
            }
            ::ng-deep .p-datatable-table > .p-datatable-thead {
                background: none !important;
                tr > th {
                    &.ellipsis-col {
                        padding: 0 !important;
                        width: 40px;
                    }
                }
            }
        }

        .table-container {
            tr {
                td {
                    .actions-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: calc(var(--spacing-2xs) / 3);
                        button {
                            background-color: var(--color-gray-100) !important;
                            border: none;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            &.edit {
                                color: var(--color-blue-500);
                            }
                            &.delete {
                                color: var(--color-error);
                            }
                        }
                    }
                }
            }
            ::ng-deep .p-datatable {
                border: 1px solid var(--color-gray-200);
                border-radius: var(--border-radius-base);
                padding: 1px;
            }
        }
    }
}

::ng-deep .cruise-line-tour-list-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .modal-body {
            .content-header-container {
                display: flex;
                flex-direction: column;
                margin-bottom: var(--spacing-sm);
            }
        }
    }
}
