.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    padding: 0;

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-l);
        margin-top: var(--spacing-l);
        text-align: center;
    }
}
