.inventory-status-chip {
    padding: 0 var(--spacing-xs);
    height: 30px;
    width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-blue-500);
    color: var(--color-blue-500);
    &.released {
        background-color: var(--color-blue-100);
        color: var(--color-blue-500);
        border-color: var(--color-blue-500);
    }
    &.allocated {
        background-color: var(--color-bg-success);
        color: var(--color-success);
        border-color: var(--color-success);
    }
    &.unallocated {
        background-color: var(--color-gray-200);
        color: var(--color-black);
        border-color: var(--color-black);
    }
}
