.main-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        .filter-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2xs);
            .filters {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--spacing-md);
            }
        }
        .select-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            .col-container {
                align-items: left;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                width: calc(33% - var(--spacing-2xs));
                gap: var(--spacing-2xs);
                .select-content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-2xs);
                    ::ng-deep p-multiselect {
                        height: 50px;
                    }
                    ::ng-deep .p-multiselect {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .p-multiselect-label {
                            max-height: 100%;
                            padding: 0.2rem 0.75rem;
                        }
                        .p-multiselect-token {
                            color: var(--color-gray-600);
                            background: var(--color-gray-300);
                            height: min-content;
                        }
                    }
                }
            }
        }
        .input-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            .col-container {
                align-items: left;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
        .action-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: var(--gap-xs);
            margin-bottom: var(--spacing-sm);
            justify-content: flex-end;
        }
    }
    .switch-container {
        display: flex;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);
    }
}

::ng-deep .department-option {
    &.first {
        > span {
            font-weight: 700;
        }
    }
    &.second {
        padding-left: var(--spacing-xs);
        > span {
            font-weight: 600;
        }
    }
    &.third {
        padding-left: var(--spacing-l);
        > span {
            font-weight: 500;
        }
    }
    &.fourth {
        padding-left: var(--spacing-3xl);
    }
}

::ng-deep .position-option {
    .first {
        font-weight: 700;
    }
    .second {
        font-weight: 4s00;
    }
}
