.day-details-container {
    display: flex;
    flex-direction: column;

    .detail-item {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);

        .img-container {
            display: flex;
            flex-direction: column;
            gap: var(--gap-sm);
            text-align: center;
            width: calc(18% - var(--gap-sm));
            max-width: 150px;

            img {
                border-radius: var(--border-radius-base);
            }

            span {
                font-size: var(--font-size-body);
                color: var(--color-gray-600);
            }
        }

        .item-details {
            display: flex;
            flex-direction: column;
            width: calc(80% - var(--gap-sm));
            gap: var(--gap-sm);

            .subdetails {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--gap-md);

                .detail-text {
                    font-size: var(--font-size-heading-xl);
                }
            }
        }
    }

    .time-filter-container {
        display: flex;
        flex-direction: row;
        gap: var(--gap-sm);

        .filter-item {
            display: flex;
            flex-direction: column;
            width: calc(50% - var(--gap-sm));

            ::ng-deep .p-calendar-timeonly {
                width: 100%;
            }
        }
    }
}

// TODO: Jake/Jacob - make these more specific so it doesn't leak to other components
::ng-deep .calendar-icon .p-button-icon {
    color: var(--color-blue-500);
}

// TODO: Jake/Jacob - make these more specific so it doesn't leak to other components
::ng-deep .p-calendar > input {
    border-radius: var(--border-radius-base) !important;
}

@media screen and (max-width: 768px) {
    .day-details-container {
        .detail-item {
            display: flex;
            flex-direction: row;
            gap: var(--gap-sm);

            .img-container {
                width: calc(50% - var(--gap-sm));
            }

            .item-details {
                width: calc(50% - var(--gap-sm));
            }
        }
        .time-filter-container {
            flex-direction: column;
            .filter-item {
                width: 100% !important;
                ::ng-deep .p-calendar-timeonly {
                    width: 100%;
                }
            }
        }
    }
}
