.container {
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-md);
        .group {
            display: flex;
            gap: 10px;
        }
    }
    .report-item {
        .report-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: var(--spacing-sm);
            button {
                display: flex;
                gap: var(--gap-xs);
            }
        }
    }
}
