.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .row-container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            .cell-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: left;
                width: calc(33% - var(--spacing-2xs));
                &.half-width {
                    width: calc(49% - var(--spacing-2xs));
                }
                &.two-third-width {
                    width: calc(66% - var(--spacing-2xs));
                }
            }
        }
        .btn-container {
            margin-top: var(--spacing-xs);
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
    .table-container {
        margin-top: var(--spacing-sm);
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .search-container {
            display: flex;
            gap: var(--spacing-xs);
            margin-bottom: var(--spacing-sm);
            .cell-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: left;
                width: var(33.3%);
            }
            .search-form {
                width: var(66.5%);
                display: flex;
                gap: var(--spacing-xs);
                .cell-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    align-items: left;
                    width: var(49%);
                }
            }
        }
    }
}

::ng-deep .edit-cruise-ship-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .modal-body {
            .row-container {
                flex-direction: column;
                .cell-container {
                    width: 100% !important;
                }
            }
        }
        .table-container {
            .header-container {
                flex-direction: column;
                align-items: flex-start;
            }
            .search-container {
                flex-direction: column;
                margin-top: var(--spacing-xs);
                .cell-container {
                    width: 100%;
                }
                .search-form {
                    flex-direction: column;
                    width: 100%;
                }
            }
        }
    }
}
