.itinerary-table-container {
    .order-wrapper {
        display: flex;
        align-items: center;
        gap: var(--gap-xl);
        .order-num-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .vertical-line {
                border-left: 1px solid #bdbdbd;
                width: 2px;
                height: 100%;
                min-height: 28px;
                &.first {
                    border: none !important;
                }
            }
            .order-num {
                width: 22px;
                height: 22px;
                background-color: var(--color-blue-500);
                border-radius: 50%;
                color: white;
                text-align: center;
            }
        }
    }
    .action-column {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-xs);
        width: 100%;
        button {
            width: 40px;
            height: 40px;
            &.edit {
                color: var(--color-success);
            }
            &.delete {
                color: var(--color-error);
            }
        }
        .action {
            width: 90px;
        }
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > .order-td {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 1rem;
    }
}

.btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2xs);
    align-items: center;
    justify-content: flex-end;
}
