.content-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-2xs);
    margin-bottom: var(--spacing-xs);
}

.table-container {
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.6rem 1rem !important;
        &.ellipsis-col {
            padding: 0 !important;
            width: 40px;
        }
        span {
            i {
                font-size: 0.8rem;
                margin-left: calc(var(--spacing-2xs) / 2);
            }
        }
    }
    ::ng-deep .p-datatable-table > .p-datatable-thead {
        background: none !important;
        tr > th {
            &.ellipsis-col {
                padding: 0 !important;
                width: 40px;
            }
        }
    }
}

.table-container {
    tr {
        td {
            .actions-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: calc(var(--spacing-2xs) / 3);
                button {
                    background-color: var(--color-gray-100) !important;
                    border: none;
                    outline: none;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    &.edit {
                        color: var(--color-blue-500);
                    }
                    &.delete {
                        color: var(--color-error);
                    }
                }
            }
        }
    }
    ::ng-deep .p-datatable {
        border: 1px solid var(--color-gray-200);
        border-radius: var(--border-radius-base);
        padding: 1px;
    }
}

@media screen and (max-width: 640px) {
    .content-header-container {
        flex-direction: column;
        align-items: stretch;
        .search-container {
            max-width: none;
        }
    }
}
