.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-md);
    }
    .empty-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--spacing-md);
        background-color: var(--color-gray-100);
        width: 100%;
        border-radius: var(--border-radius-base);
        span {
            text-align: center;
        }
    }
}
