.payroll-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    .payroll-content-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        .action-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
