.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    .modal-body {
        .row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            flex-wrap: wrap;
            margin-bottom: var(--spacing-l);
            .cell-container {
                align-items: left;
                display: flex;
                flex-direction: column;
                width: calc(49% - var(--spacing-2xs));
                &.full-width {
                    width: calc(99% - var(--spacing-2xs));
                }
            }
            .radio-btns-label {
                font-size: var(--line-height-heading-md);
                font-weight: bold;
                width: 100%;
            }
            .radio-container {
                width: calc(49% - var(--spacing-2xs));
            }
            .checkbox-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: calc(33% - var(--spacing-2xs));
                label {
                    margin-left: 10px;
                }
            }
        }

        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
}

::ng-deep .add-equipment-type-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        .modal-body {
            .row-container {
                .cell-container {
                    width: 100%;
                }
                .checkbox-container {
                    width: calc(49% - var(--spacing-2xs));
                }
            }
        }
    }
}
